
@import '~sass/variables';
::ng-deep{
    .carousel-wrap{
        padding: $padding;
        border: 1px solid $color-border;
        border-radius: $border-radius;
        background: $color-white;
        margin-bottom: $padding*2;
        img{
            max-width: 100%;
        }
        *{
            outline: 0;
        }
        .carousel-control-prev{
            left: -$padding;
            .carousel-control-prev-icon{
                background: transparentize($color-white, .4);
                border: 1px solid $color-border;
                border-left: 0;
                cursor: pointer;
                height: 40px;
                width: 40px;
                line-height: 40px;
                text-align: center;
                left: 0;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                &::before{
                    content: "\f053";
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    text-align: center;
                    font-size: $font-size-medium;
                }
            }
        }
        .carousel-control-next{
            right: -$padding;
            .carousel-control-next-icon{
                background: transparentize($color-white, .4);
                border: 1px solid $color-border;
                border-right: 0;
                cursor: pointer;
                height: 40px;
                width: 40px;
                line-height: 40px;
                text-align: center;
                right: 0;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                &::before{
                    content: "\f054";
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    text-align: center;
                    font-size: $font-size-medium;
                }
            }
        }
        a{
            &:hover{
                text-decoration: none;
            }
        }
        .carousel-caption{
            position: relative;
            left: 0;
            color: $color-black;
            padding: 0;
            right: 0;
            bottom: initial;
            text-align: left;   
            &:hover{
                text-decoration: underline;
            }         
            h3{
                font-size: $font-size-default;
                color: $color-1;
                font-weight: bold;
                margin: 0;
                padding-top: $padding;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            p{
                font-size: $font-size-small;
                margin: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        .carousel-indicators{
            display: none;
        }
    }
}
