<div class="carousel-wrap">
  <h3 class="heading">Trending</h3>
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let ads of advertisementList; let i=index">
      <a routerLink="/">
        <img src="{{mediaUrl}}{{ads.attachment}}" alt="{{ads.title}}">
        <div class="carousel-caption">
          <h3>{{ads.title}}</h3>
          <p>{{ads.description}}</p>
        </div>
      </a>      
    </ng-template>
  </ngb-carousel>
</div>
