@import '~sass/variables';
@import '~sass/mixins';
.heading{
    margin-top: $padding;
}
.btn-primary{
    background: $color-1;
}
.post-loader{
    position: relative;
    height: 28px;
    border: 1px solid $color-border;
    background: transparentize($color-white, .6);
    border-radius: $border-radius;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        a,.menu-item{
            padding: $padding/4 $padding;
            padding-bottom: $padding/2;
            display: block;
            background: transparentize($color-white, .6);
            border: 1px solid $color-border;
            color: $color-black;
            border-radius: $border-radius;
            border-top: 0;         
            cursor: pointer;   
            i{
                padding-right: $padding;
            }
            &:hover{
                text-decoration: none;
                background: transparentize($color-white, 0);
            }
        }
        a{
            color: $color-1;
            @include gradient();
        }
        &:first-child{
            a{
                border-top: 1px solid $color-border;
            }            
        }
    }
}