<div class="left-panel">
  <ul>
    <li>
      <a (click)="gotoCategory('followed');resMenu()">
        Followed Post
      </a>        
    </li>
    <div class="post-loader active" *ngIf="isValid">
        <app-loader></app-loader>
    </div>
    <div *ngFor="let group of sidebarGroupsList; let i=index">
        <li *ngIf="group.group_id == null">
            <a  (click)="goToCategory(group.id); resMenu()">
                {{group.category_name}}
            </a>
        </li>
        <div *ngIf="group.group_id != null">
            <app-menu-item #child (groupClose)="groupClose($event)" [isCollapsed]="isCollapsed" (output)="resMenu()"  [groupId]="group.group_id" [groupName]="group.group_name"></app-menu-item>
        </div>
    </div>
    <!-- <app-menu-item></app-menu-item>
    <app-m</app-menu-item>
    <app-menu-item></app-menu-item>
    <app-menu-item></app-menu-item> -->
    <!-- <li>
        <div class="menu-item" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="category1">
          <i class="fa fa-star" aria-hidden="false"></i>Category Group 1
        </div>
        <div id="category1" [ngbCollapse]="!isCollapsed">
            <ul>
                <li>
                    <a routerLink="/" (click)="resMenu()">
                        <i class="fa fa-star-o" aria-hidden="true"></i>Category 4
                    </a>   
                </li>
            </ul> 
        </div>
                  
    </li> -->
    
  </ul>
  <ul class="other">
      <li>
        <a routerLink="/contact" (click)="resMenu()">
            <i class="fa fa-phone" aria-hidden="true"></i>Contact us
        </a>
      </li>
      <li>
        <a routerLink="/advertise-here" (click)="resMenu()">
            <i class="fa fa-send" aria-hidden="true"></i>Advertise with us
        </a>
      </li>
  </ul>
  <h3 class="heading">Invite a friend</h3>
    <form id="inviteForm" (ngSubmit)="inviteAFriend(userdata)" [formGroup]="inviteForm">
        <div class="input-group mb-3">
        <input type="text" [(ngModel)]="userdata.email" formControlName="email" class="form-control" placeholder="Type email" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" ><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
        </div>
    </form>
</div>