<span class="text" *ngIf="!seeMore; else second" [innerHtml]="mainText"></span>
<ng-template #second>
    <span class="text" *ngIf="!toggle" [innerHtml]="mainText"></span>
    <span class="text" *ngIf="toggle" [innerHtml]="trimText"></span>
    <div class="see-more" (click)="toggle = !toggle">
        <span *ngIf="toggle">See More</span>
        <span *ngIf="!toggle">See Less</span>
    </div>
</ng-template>