//Gradient
@mixin gradient($from:#fff,$to:#bed1ee){
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$from+0,bed1ee+100 */
    background: $to; /* Old browsers */
    background: -moz-linear-gradient(top, $from 0%, $to 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $from 0%,$to 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $from 0%,$to 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 ); /* IE6-9 */
}
//transform
// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}
// generic transform
@mixin transformOrigin($x :50%,$y:100%) {
    transform-origin: $x $y;
    -webkit-transform-origin: $x $y;
    -moz-transform-origin: $x $y;
    -o-transform-origin: $x $y;
    -ms-transform-origin: $x $y;
}
// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}
// scale
@mixin scale($scale) {
    @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}
// rotate and translate
@mixin rotateTranslate ($deg, $x, $y) {
    @include transform(rotate(#{$deg}deg)translate($x, $y));
}
//--------------------------------------------------------//
//Transition
@mixin transition($prop:all,$time:.3s, $fun:ease-in) {
    -webkit-transition: $prop $time $fun;
    -moz-transition: $prop $time $fun;
    -ms-transition: $prop $time $fun;
    -o-transition: $prop $time $fun;
    transition: $prop $time $fun;
}
//--------------------------------------------------------//
//Placeholdr
@mixin placeholder($color:$clr-twilight-blue) {
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $color;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: $color;
    }
    :-ms-input-placeholder {
        /* IE 10+ */
        color: $color;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        color: $color;
    }
}
//--------------------------------------------------------//
//Text and Box Shadow
@mixin box-shadow($top:0, $left:4px, $blur:4px, $color:rgba(0, 0, 0, 0.3), $inset: false) {
    @if $inset {
      -webkit-box-shadow:inset $top $left $blur $color;
      -moz-box-shadow:inset $top $left $blur $color;
      box-shadow:inset $top $left $blur $color;
    } @else {
      -webkit-box-shadow: $top $left $blur $color;
      -moz-box-shadow: $top $left $blur $color;
      box-shadow: $top $left $blur $color;
    }
  }
  @mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
      text-shadow: $x $y $blur $color;
  }
//--------------------------------------------------------//
//flex
//flex master
@mixin flex-master($flex-direction:column,$flex-wrap:nowrap,$align-content:stretch,$align-items:center) {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: $flex-direction;
    -ms-flex-direction: $flex-direction;
    flex-direction: $flex-direction;
    -webkit-flex-wrap: $flex-wrap;
    -ms-flex-wrap: $flex-wrap;
    flex-wrap: $flex-wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: $align-content;
    -ms-flex-line-pack: $align-content;
    align-content: $align-content;
    -webkit-align-items: $align-items;
    -ms-flex-align: $align-items;
    align-items: $align-items;
}

//flex container
@mixin display-flex() {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-direction($value:column) {
    -webkit-flex-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}

@mixin flex-flex-wrap($value:nowrap) {
    -webkit-flex-wrap: $value;
    -ms-flex-wrap: $value;
    flex-wrap: $value;
}

@mixin flex-justify-content() {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin flex-align-content($value:stretch) {
    -webkit-align-content: $value;
    -ms-flex-line-pack: $value;
    align-content: $value;
}

@mixin flex-align-items($value:center) {
    -webkit-align-items: $value;
    -ms-flex-align: $value;
    align-items: $value;
}

//flex items

@mixin flex-order($value:0) {
    -webkit-order: $value;
    -ms-flex-order: $value;
    order: $value;
}
@mixin flex-self($value:0 1 auto) {
    -webkit-flex: $value;
    -ms-flex: $value;
    flex: $value;
}
@mixin flex-align-self($value:stretch) {
    -webkit-align-self: $value;
    -ms-flex-item-align: $value;
    align-self: $value;
}
//--------------------------------------------------------//
//button
// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
@mixin button-variant($color:$clr-white, $background:$clr-water-blue, $border:$clr-water-blue) {
    color: $color;
    background-color: $background;
    border: solid 1px $border;
    border-radius: 0;
    font-size: $font-size-medium;
    padding: $padding-default/2 $padding-default*2;
    @include transition($time:.3s,$fun:ease-in);
    &:focus,
    &.focus {
        color: $color;
        background-color: darken($background, 6%);
        border-color: darken($border, 15%);
    }
    &:hover {
        color: $color;
        background-color: darken($background, 5%);
        border-color: darken($border, 12%);
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $color;
        background-color: darken($background, 6%);
        border-color: darken($border, 12%);

        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: darken($background, 17%);
            border-color: darken($border, 25%);
            outline: none 0;
        }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
        outline: none 0;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            background-color: $background;
            border-color: $border;
            outline: none 0;
        }
    }

    .badge {
        color: $background;
        background-color: $color;
    }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
}
@mixin pro-pic($size:40px){
    width: $size;
    height: $size;
    min-width: $size;
    background-position: center !important;
    background-size: cover !important;
    border-radius: $size;
    border: 1px solid $color-border-light;
    display: inline-block;
    margin-right: $padding;
    background-image: url(assets\images\user-placeholder.png);
    background-color: $color-white;
}
//animation for loaging animation
.loaging-animation{
    animation: animationFrames linear 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 100% 50%;
    -webkit-animation: animationFrames linear 2.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 100% 50%;
    -moz-animation: animationFrames linear 2.5s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 100% 50%;
    -o-animation: animationFrames linear 2.5s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 100% 50%;
    -ms-animation: animationFrames linear 2.5s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 100% 50%;
  }
  
  @keyframes animationFrames{
    0% {
      transform:  translate(-115px,0px)  scaleX(0.00) ;
    }
    19% {
      transform:  translate(118px,0px)  scaleX(2.00) ;
    }
    48% {
      transform:  translate(265px,0px)  scaleX(0.00) ;
    }
    51% {
      transform:  translate(-115px,0px)  scaleX(0.00) ;
    }
    81% {
      transform:  translate(236px,0px)  scaleX(1.50) ;
    }
    100% {
      transform:  translate(265px,0px)  scaleX(0.00) ;
    }
  }
  
  @-moz-keyframes animationFrames{
    0% {
      -moz-transform:  translate(-115px,0px)  scaleX(0.00) ;
    }
    19% {
      -moz-transform:  translate(118px,0px)  scaleX(2.00) ;
    }
    48% {
      -moz-transform:  translate(265px,0px)  scaleX(0.00) ;
    }
    51% {
      -moz-transform:  translate(-115px,0px)  scaleX(0.00) ;
    }
    81% {
      -moz-transform:  translate(236px,0px)  scaleX(1.50) ;
    }
    100% {
      -moz-transform:  translate(265px,0px)  scaleX(0.00) ;
    }
  }
  
  @-webkit-keyframes animationFrames {
    0% {
      -webkit-transform:  translate(-115px,0px)  scaleX(0.00) ;
    }
    19% {
      -webkit-transform:  translate(118px,0px)  scaleX(2.00) ;
    }
    48% {
      -webkit-transform:  translate(265px,0px)  scaleX(0.00) ;
    }
    51% {
      -webkit-transform:  translate(-115px,0px)  scaleX(0.00) ;
    }
    81% {
      -webkit-transform:  translate(236px,0px)  scaleX(1.50) ;
    }
    100% {
      -webkit-transform:  translate(265px,0px)  scaleX(0.00) ;
    }
  }
  
  @-o-keyframes animationFrames {
    0% {
      -o-transform:  translate(-115px,0px)  scaleX(0.00) ;
    }
    19% {
      -o-transform:  translate(118px,0px)  scaleX(2.00) ;
    }
    48% {
      -o-transform:  translate(265px,0px)  scaleX(0.00) ;
    }
    51% {
      -o-transform:  translate(-115px,0px)  scaleX(0.00) ;
    }
    81% {
      -o-transform:  translate(236px,0px)  scaleX(1.50) ;
    }
    100% {
      -o-transform:  translate(265px,0px)  scaleX(0.00) ;
    }
  }
  
  @-ms-keyframes animationFrames {
    0% {
      -ms-transform:  translate(-115px,0px)  scaleX(0.00) ;
    }
    19% {
      -ms-transform:  translate(118px,0px)  scaleX(2.00) ;
    }
    48% {
      -ms-transform:  translate(265px,0px)  scaleX(0.00) ;
    }
    51% {
      -ms-transform:  translate(-115px,0px)  scaleX(0.00) ;
    }
    81% {
      -ms-transform:  translate(236px,0px)  scaleX(1.50) ;
    }
    100% {
      -ms-transform:  translate(265px,0px)  scaleX(0.00) ;
    }
  }
