@import '~sass/variables';
@import '~sass/mixins';
.pro-listing-wrap{
    border: 1px solid $color-border;
    background: $color-white;
    border-radius: $border-radius;
    padding: $padding 0;
    margin-top: $padding*2;
    ul.body{
        list-style: none;
        padding: $padding/2 0;
        margin: 0;
        background: $color-white;
        >li{
            padding: $padding $padding;
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
            border-bottom: 1px solid $color-border-light;
            &:first-child{
                border-top: 1px solid $color-border-light;
            }
            &:hover{
                background: $color-bg-light;
                cursor: pointer;
            }
            .pic{
                @include pro-pic($size:50px);
            }
            .right{
                @include flex-self($value:1 1 auto);
                .name{
                    font-weight: bold;
                    color: $color-1;
                }
                .body2{
                    font-size: 90%;
                    color: $color-2;
                    i{
                        padding-right: $padding/4;
                        color: $color-1;
                    }
                }
            }                
        }            
    }
}
