<div class="pro-listing-wrap">
  <ul class="body"  (click)="goToProfile(pro.username)">
        <li routerLink="/profileview">
            <div class="pic" style="background-image: url({{mediaUrl}}{{pro.profile_photo}})"></div>
            <div class="right">
              <div class="body">
                <span class="name">{{pro.full_name}}</span>
              </div>
            </div>
        </li>
    </ul>
</div>