<div class="headerHeight" [ngStyle]="{'height': headerHeight + 'px'}"></div>
<header class="main-header" [ngClass]="{'fixed-header': fixedHeader,'fixed-active': fixedActive}">
  <div class="app-container">
    <div class="header-container">
        <div class="brand-logo">
            <a routerLink="/" (click)="reloadPost()"><img src="assets/images/happy-equities-logo.png" alt="logo"></a>          
        </div>
        <div class="right-sec">
          <div class="search-wrap">
            <app-main-search (searchFnOutput)="searchWithstr($event)"></app-main-search>
          </div>
          <div class="menus-wrap">
              <a routerLink="/search" class="mob-only">
                <i class="fa fa-search"></i>
              </a>
              <a routerLink="/" class="mob-hide">Home</a>
          </div>
          <div class="notif-wrap mob-hide">
              <div ngbDropdown placement="bottom-right" class="d-inline-block">
                  <div class="drop-down" id="notifications" ngbDropdownToggle (click)="notification.markAllRead()">
                    <i class="fa fa-bell" aria-hidden="true"><span class="has" *ngIf="this.unreadNotifications">{{this.unreadNotifications}}</span></i>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="notifications">                    
                    <app-notification #notification  (notifCountFnOutput)="notificationCount($event)"></app-notification>  
                    <div class="footer">
                      <a routerLink="/notification" *ngIf="global.profileName">View all</a>
                      <a routerLink="/login" *ngIf="!global.profileName">View all</a>
                    </div>
                  </div>
                </div>
          </div>
          <div class="notif-wrap mob-only">
              <div class="drop-down">
                    <a routerLink="/notification" *ngIf="global.profileName" (click)="notification.markAllRead()">
                      <i class="fa fa-bell" aria-hidden="true"><span class="has" *ngIf="this.unreadNotifications">{{this.unreadNotifications}}</span></i>
                    </a>
                    <a routerLink="/login" *ngIf="!global.profileName">
                      <i class="fa fa-bell" aria-hidden="true"><span class="has" *ngIf="this.unreadNotifications">{{this.unreadNotifications}}</span></i>
                    </a>
              </div> 
          </div>
          <div class="drop-wrap mob-hide" *ngIf="global.profileName">
              <div ngbDropdown placement="bottom-right" class="d-inline-block">
                  <div class="drop-down" id="userPro" ngbDropdownToggle>
                    <div class="pic" [ngStyle]="{'background-image':'url(' + global.profilePic + ')'}"></div>
                    {{global.profileName}}
                  </div>
                  <div ngbDropdownMenu aria-labelledby="userPro">
                    <ul>
                      <li><a routerLink="/user">View Profile</a></li>
                      <li><a routerLink="/settings">Settings</a></li>
                      <li><a routerLink="/login">Logout</a></li>
                    </ul>
                  </div>
                </div>
          </div>
          <div class="menus-wrap mob-hide" *ngIf="!global.profileName">
            <a routerLink="/login" style="text-transform: inherit;">Sign in or Sign up</a>
          </div>
          <div class="menus-wrap mob-only" *ngIf="!global.profileName">
            <a routerLink="/login" style="text-transform: inherit;">Sign in</a>
          </div>
          <app-res-menu *ngIf="global.profileName"></app-res-menu>
        </div>
    </div>    
  </div>
</header>
