@import '~sass/variables';
@import '~sass/mixins';
::ng-deep{
    body.menu-open{
        .main-header{
           bottom: 0;
            margin-bottom: 0; 
        }
    }
}
.main-header{
    border-bottom: 1px solid $color-border-dark;
    margin-bottom: $padding*2;
    @include translate ($x:0, $y:0);
    @include transition();
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    z-index: 1001;
    @include gradient();
    a:hover{
        text-decoration: none;
    }
    &.fixed-header{
        @include translate ($x:0, $y:-100%);
        &.fixed-active{
            @include translate ($x:0, $y:0);
        }
    }
}
.header-container{
    @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:stretch);
    .brand-logo{
        padding-top: $padding/2;
        padding-bottom: $padding/2;
        a{
            display: block;
            padding: $padding 0;
            &:hover{
                background: transparentize($color-white,.95);
                @include box-shadow($top:0, $left:0px, $blur:4px, $color:rgba(0, 0, 0, 0.05), $inset: true);
            }
        }
    }
    .right-sec{
        @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:stretch);
        .drop-wrap{
            color: $color-1;
            position: relative;
            padding-left: $padding*2;
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
            .dropdown{
                @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
                position: initial;
                .drop-down{
                    cursor: pointer;
                    position: initial;
                    font-weight: bold;
                    text-transform:capitalize;
                    @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
                    padding:$padding;
                    border-radius: $border-radius;
                    &:hover{
                        background: transparentize($color-white,.95);
                        @include box-shadow($top:0, $left:0px, $blur:4px, $color:rgba(0, 0, 0, 0.05), $inset: true);
                    }
                    .pic{
                        @include pro-pic();
                        margin-right: $padding/2;
                    }
                    &:after{
                        margin-left: $padding/2;
                        margin-top: $padding;
                    }
                }
                &.show {
                    .drop-down{
                        background: transparentize($color-white,.95);
                        @include box-shadow($top:0, $left:0px, $blur:4px, $color:rgba(0, 0, 0, 0.05), $inset: true);
                    }
                }
                .dropdown-menu{
                    top: 100% !important;
                    border-color: $color-border;
                    &:after{
                        content: '';
                        position: absolute;
                        border-bottom: 10px solid $color-white;
                        border-left: 10px transparent solid;
                        border-right: 10px transparent solid;
                        bottom: 100%;
                        right: $padding ;
                        margin-bottom: -1px;
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        border-bottom: 10px solid $color-border;
                        border-left: 10px transparent solid;
                        border-right: 10px transparent solid;
                        bottom: 100%;
                        right: $padding ;
                    }
                    ul{
                        padding:0;
                        list-style: none;
                        margin: 0;
                        li{
                            a{
                                display: block;
                                padding: $padding/2 $padding;
                                color: $color-black;
                                &:hover{
                                    background: $color-bg-light;
                                }
                            }
                        }
                    }
                }
            }
        }
        .notif-wrap{
            color: $color-1;
            position: relative;
            padding: 0 $padding*2;
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
            &:before{
                content: '';
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                bottom: 0;
                height: 25px;
                width: 2px;
                background: transparentize($color-white , .9);
                border-right: 1px solid $color-border-light;
                margin: auto;
            }
            &:after{
                content: '';
                position: absolute;
                display: block;
                right: 0;
                top: 0;
                bottom: 0;
                height: 25px;
                width: 2px;
                background: transparentize($color-white , .9);
                border-right: 1px solid $color-border-light;
                margin: auto;
            }
            .dropdown{
                @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
                position: initial;
                .drop-down{
                    cursor: pointer;
                    position: initial;
                    font-weight: bold;
                    @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
                    padding: $padding;
                    border-radius: $border-radius;
                    min-height: 50px;
                    i{
                        font-size: $font-size-default + 5;
                        position: relative;
                        .has{
                            font-family: $font-default;
                            font-weight: bold;
                            padding: $padding/2;
                            border-radius:$border-radius;
                            color: $color-white;
                            background: $color-red;
                            position: absolute;
                            bottom: 60%;
                            left: 60%;
                            font-size: 65%;
                        }
                    }
                    &:hover{
                        background: transparentize($color-white,.95);
                        @include box-shadow($top:0, $left:0px, $blur:4px, $color:rgba(0, 0, 0, 0.05), $inset: true);
                    }
                    .pic{
                        width: 40px;
                        height: 40px;
                        background-position: center !important;
                        background-size: cover !important;
                        border-radius: 50px;
                        border: 1px solid $color-border-light;
                        display: inline-block;
                        margin-right: $padding/2;
                    }
                    &:after{
                        margin-left: $padding/2;
                        margin-top: $padding;
                    }
                }
                &.show {
                    .drop-down{
                        background: transparentize($color-white,.95);
                        @include box-shadow($top:0, $left:0px, $blur:4px, $color:rgba(0, 0, 0, 0.05), $inset: true);
                    }
                }
                .dropdown-menu{
                    top: 100% !important;
                    width:400px;
                    padding: 0;
                    background: $color-bg-light;
                    &:after{
                        content: '';
                        position: absolute;
                        border-bottom: 10px solid $color-bg-light;
                        border-left: 10px transparent solid;
                        border-right: 10px transparent solid;
                        bottom: 100%;
                        right: $padding ;
                        margin-bottom: -1px;
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        border-bottom: 10px solid $color-border;
                        border-left: 10px transparent solid;
                        border-right: 10px transparent solid;
                        bottom: 100%;
                        right: $padding ;
                    }
                    
                    .footer{
                        padding: $padding/2 $padding;
                        border-top: 1px solid $color-border;
                        color: $color-1;
                        a{
                            display: block;
                            text-align: center;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        .menus-wrap{
            color: $color-1;
            position: relative;
            padding: 0 $padding*2;
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
            a{
                line-height: 40px;
                padding:$padding;
                border-radius: $border-radius;
                font-weight: bold;
                display: block;
                text-transform:capitalize;
                &:hover{                    
                    background: transparentize($color-white,.95);
                    @include box-shadow($top:0, $left:0px, $blur:4px, $color:rgba(0, 0, 0, 0.05), $inset: true);
                }
            }
        }        
        .search-wrap{
            color: $color-1;
            position: relative;
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
        }  
    }
}
@media only screen and (max-width : $media-sm) {
    .main-header{
        background: none;
        .app-container{
            @include gradient();
        }
        .header-container{
            .right-sec{
                .search-wrap{
                    display: none;
                }
                .notif-wrap{
                    &.mob-hide{
                        display: none !important;
                    }
                    .drop-down{
                        cursor: pointer;
                        position: initial;
                        font-weight: bold;
                        @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
                        padding: $padding;
                        border-radius: $border-radius;
                        min-height: 50px;
                        a{
                        i{
                                font-size: $font-size-default + 5;
                                position: relative;
                                .has{
                                    font-family: $font-default;
                                    font-weight: bold;
                                    padding: $padding/2;
                                    border-radius:$border-radius;
                                    color: $color-white;
                                    background: $color-red;
                                    position: absolute;
                                    bottom: 60%;
                                    left: 60%;
                                    font-size: 65%;
                                }
                            } 
                        }                    
                        &:hover{
                            background: transparentize($color-white,.95);
                            @include box-shadow($top:0, $left:0px, $blur:4px, $color:rgba(0, 0, 0, 0.05), $inset: true);
                        }
                    }
                }
                .menus-wrap{
                    font-size: $font-size-large;
                }
                app-res-menu{
                    @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
                }
            }
            .brand-logo{
                img{
                    width: 90px;
                }
            }
        }
    }
}