<div class="contact-wrap">
  <h1 class="heading">Contact Us</h1>
  <form id="loginForm" (ngSubmit)="contact(userdata)"[formGroup]="contactForm">
    <div class="form-loader" *ngIf="formLoader">
      <app-loader></app-loader>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="userdata.name" formControlName="name" placeholder="Name">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="userdata.email" formControlName="email" placeholder="Email">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="userdata.phone" formControlName="phone" placeholder="ISD +91">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="userdata.mobile" formControlName="mobile" placeholder="Mobile">
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <input type="file" class="form-control" placeholder="Mobile" (change)="uploadFileShowing($event)">
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <textarea class="form-control" [(ngModel)]="userdata.message" formControlName="message" placeholder="Type your message"></textarea>
        </div>
      </div>
      <div class="col-sm-12 text-right">
        <button class="btn btn-primary btn-sm">Reset</button>
        <button class="btn btn-primary btn-sm">Submit</button>
      </div>
    </div>
  </form>
</div>
