@import '~sass/_mixins.scss';
@import '~sass/_variables.scss';
.contact-wrap{
    border-radius: $border-radius;
    position: relative;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    padding: $padding*2;
    background: $color-white;
    margin-bottom: $padding*2;
    .form-loader{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        background: rgba(255, 255, 255, 0.72);
        border: 1px solid $color-border;
    }
    .form-control{
        font-size: inherit;
    }
}
