<app-header></app-header>
<div class="app-container">
    <div class="row">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <footer class="main-footer">
            <app-twitter></app-twitter>
            <app-advertisement></app-advertisement>
            <app-footer></app-footer>
        </footer>
    </div>    
</div>


