@import '~sass/variables';
@import '~sass/mixins';
.app-container{
    .row{
        @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:stretch);
        .content-area{
            width: 70%;
            padding-left: $padding;
            padding-right: $padding;
            padding-bottom: $padding*2;
        }
        .main-footer{
            width: 30%;
            padding-left: $padding;
            padding-right: $padding;
            padding-bottom: $padding*2;
        }
    }
}
@media only screen and (max-width : $media-sm) {
    .app-container{
        .row{
            @include flex-master($flex-direction:row,$flex-wrap:wrap,$align-content:stretch,$align-items:stretch);
            .content-area{
                width: 100%;
            }
            .main-footer{
                width: 100%;
                padding-top: $padding*1.5;
                border-top: 2px solid $color-border;
                background: $color-border-light;
            }
        }
    }
}
