<div class="component-loader active" *ngIf="!profileName">
  <app-loader></app-loader>
</div>
<div class="profile-wrap" *ngIf="profileName">
  <div class="head">
    <div class="pro-pic" [ngStyle]="{'background-image':'url(' + global.profilePic + ')'}"></div>
  </div>
  <h3 class="name">{{profileName}}</h3>
  <!-- {{mediaUrl}}{{profileImage}} -->
  <div class="profile-body">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
      <ngb-panel  id="static-1">
        <ng-template ngbPanelTitle>
          <div class="edit-item">
            <div class="first">
              First Name
            </div>
            <div class="second">
              {{profileEdit_a.firstName}}
            </div>
            <i class="fa fa-cog" aria-hidden="true"></i>
          </div>
        </ng-template>

        <ng-template ngbPanelContent>
          <form  id="profileEditForm" (ngSubmit)="profileUpdate(profileEdit_a)" [formGroup]="profileEditForm">
            <div class="edit-item">
              <div class="first">
                First Name
              </div>
              <div class="second">
                <input type="text" [(ngModel)]="profileEdit_a.firstName" formControlName="firstName" class="form-control" placeholder="Edit First Name">
              </div>
            </div>
            <div class="edit-item-footer">
              <div></div>
              <div class="action">
                <button class="btn btn-danger btn-sm" (click)="acc.toggle('static-1')">Cancel</button>
                <button class="btn btn-primary btn-sm">Save</button>
              </div>
            </div>
          </form>
        </ng-template>


      </ngb-panel>
      <ngb-panel  id="static-2">
        <ng-template ngbPanelTitle>
          <div class="edit-item">
            <div class="first">
              Last Name
            </div>
            <div class="second">
              {{profileEdit_a.lastName}}
            </div>
            <i class="fa fa-cog" aria-hidden="true"></i>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <form  id="profileEditForm" (ngSubmit)="profileUpdate(profileEdit_a)" [formGroup]="profileEditForm">
            <div class="edit-item">
              <div class="first">
                Last Name
              </div>
              <div class="second">
                <input type="text" [(ngModel)]="profileEdit_a.lastName" formControlName="lastName" class="form-control" placeholder="Edit Last Name">
              </div>
            </div>
            <div class="edit-item-footer">
              <div></div>
              <div class="action">
                <button class="btn btn-danger btn-sm" (click)="acc.toggle('static-2')">Cancel</button>
                <button class="btn btn-primary btn-sm">Save</button>
              </div>
            </div>
          </form>
        </ng-template>
      </ngb-panel>
      <ngb-panel  id="static-3">
        <ng-template ngbPanelTitle>
          <div class="edit-item">
            <div class="first">
              Birthday
            </div>
            <div class="second">
              {{dateOfBirth}}
            </div>
            <i class="fa fa-cog" aria-hidden="true"></i>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <form  id="profileEditForm" (ngSubmit)="updateDateof(profileEdit_a)" [formGroup]="profileEditForm">
            <div class="edit-item">
              <div class="first">
                Birthday 
              </div>
              <div class="second">
                <!-- <input type="text" class="form-control" [(ngModel)]="profileEdit_a.dob" formControlName="dob" placeholder="Birthday" onblur="(this.type='text')" onfocus="(this.type='date')"> -->
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"  
                         name="dp" [(ngModel)]="profileEdit_a.dob" formControlName="dob" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="edit-item-footer">
              <div></div>
              <div class="action">
                <button class="btn btn-danger btn-sm" (click)="acc.toggle('static-3')">Cancel</button>
                <button class="btn btn-primary btn-sm">Save</button>
              </div>
            </div>
          </form>
        </ng-template>
      </ngb-panel>
      <ngb-panel  id="static-4">
        <ng-template ngbPanelTitle>
          <div class="edit-item">
            <div class="first">
              Gender
            </div>
            <div class="second">
              {{profileEdit_a.gender}}
            </div>
            <i class="fa fa-cog" aria-hidden="true"></i>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <form  id="profileEditForm" (ngSubmit)="profileUpdate(profileEdit_a)" [formGroup]="profileEditForm">
            <div class="edit-item">
              <div class="first">
                Gender
              </div>
              <div class="second">
                <select class="form-control"  [(ngModel)]="profileEdit_a.gender" formControlName="gender">
                  <option value="">Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            </div>
            <div class="edit-item-footer">
              <div></div>
              <div class="action">
                <button class="btn btn-danger btn-sm" (click)="acc.toggle('static-4')">Cancel</button>
                <button class="btn btn-primary btn-sm">Save</button>
              </div>
            </div>
          </form>
        </ng-template>
      </ngb-panel>




      <ngb-panel  id="static-5">
        <ng-template ngbPanelTitle>
          <div class="edit-item">
            <div class="first">
              Edit Profile Picture
            </div>
            <i class="fa fa-cog" aria-hidden="true"></i>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <form  id="profileEditForm" >
            <div class="edit-item">
              <div class="first">
                Choose file
              </div>
              <div class="second">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" accept="image/*" (change)="uploadFileShowing($event)" id="inputGroupFile01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>
            </div>
            <div class="edit-item-footer">
              <div></div>
              <div class="action">
                <button class="btn btn-danger btn-sm" (click)="acc.toggle('static-5')">Cancel</button>
                <button class="btn btn-primary btn-sm" (click)="editProfilePic()">Save</button>
              </div>
            </div>
          </form>
        </ng-template>
      </ngb-panel>




      <ngb-panel  id="static-10">
        <ng-template ngbPanelTitle>
          <div class="edit-item">
            <div class="first">
              Edit Password
            </div>
            <i class="fa fa-cog" aria-hidden="true"></i>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <form  id="changePasswordForm" (ngSubmit)="changePassword(password_a)" [formGroup]="changePasswordForm">
            <div class="edit-item" id="psasword-container">
              <div class="first">
                Password
              </div>
              <div class="second">
                <input type="password" [(ngModel)]="password_a.password" formControlName="password" id="password" class="form-control" placeholder="Password">
              </div>
            </div>
            <div class="edit-item" id="newpsasword-container">
              <div class="first">
                New Password
              </div>
              <div class="second">
                <input type="password" [(ngModel)]="password_a.newPassword" formControlName="newPassword" id="newPassword" class="form-control" placeholder="New Password">
              </div>
            </div>
            <div class="edit-item" id="confirmpsasword-container">
              <div class="first">
                New Password
              </div>
              <div class="second">
                <input type="password" [(ngModel)]="password_a.confirmPassword" formControlName="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password">
              </div>
            </div>
            <div class="edit-item-footer">
              <div></div>
              <div class="action">
                <button class="btn btn-danger btn-sm" (click)="acc.toggle('static-10')">Cancel</button>
                <button class="btn btn-primary btn-sm">Save</button>
              </div>
            </div>
          </form>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
