@import '~sass/_mixins.scss';
@import '~sass/_variables.scss';

.profile-wrap{
  border-radius: $border-radius;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  padding-bottom: $padding*2;
  background: $color-white;
  margin-bottom: $padding*2;
  .head{
    height: 75px;
    @include gradient($from:#fff,$to:#bed1ee);
    border-radius: $border-radius $border-radius 0 0;
    position: relative;
    .pro-pic{
      @include pro-pic($size:100px);
      position: absolute;
      top: 25px;
      left: $padding;
    }
  }
  .name{
    padding: $padding 0;
    margin: 0;
    padding-left: 100px + $padding*2;
    font-size: $font-size-large;
    font-weight: bold;
    min-height: 39px;
  }
  .profile-body{
    padding: $padding*2 $padding $padding $padding;
    .form-control{
      padding: $padding/3 $padding;
      font-size: inherit;
    }
    ::ng-deep{
      .card{
        margin-top: $padding;
      }
      .card-header{
        padding: 0;
        &:not(.active){
          border-bottom: 0;
        }
        > a{
          display: block;
          padding: $padding/2 $padding*2;
          color: $color-black;
          text-decoration: none;
          &:hover{
            color: $color-1;
          }
        }
      }
      .card-body{
        padding: $padding*2;
      }
    }
    .edit-item{
      @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
      &:not(:first-child){
        padding-top: $padding *2;
      }
      .first{
        font-weight: bold;
        min-width: 120px;
      }
      .second{
        @include flex-self($value:1 0 auto);
      }
    }
    .edit-item-footer{
      @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
      padding-top: $padding*2;
    }
  }
}
  .component-loader{
    position: relative;
    height: 50vh;
    border: 1px solid $color-border;
    margin-bottom: $padding*2;
  }