<div class="res-menu mob-only" [ngClass]="{'open':isOpen}">
  <div class="hamburger-menu" (click)="resMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="res-menu-wrap">
    <div class="res-menu-bg" (click)="resMenu()"></div>
    <div class="res-nav">
        <header class="main-header">
              <div class="header-container">
                <div class="brand-logo">
                    <a routerLink="/" (click)="resMenu()"><img src="assets/images/happy-equities-logo.png" alt="logo"></a>          
                </div>
                <div class="right-sec">
                    <div class="hamburger-menu" (click)="resMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                </div>
              </div>
        </header>
        <div class="res-nav-body">
          <div class="view-profile">
            <a routerLink="/user"  (click)="resMenu()">
              <div class="pic" [ngStyle]="{'background-image':'url(' + global.profilePic + ')'}"></div>
              <div class="right">
                <div class="name">{{global.profileName}}</div>
                <div class="name2">View Profile</div>
              </div>
            </a>
          </div>
          <app-left-menus (output)="resMenu()"></app-left-menus>
          <ul class="menus">
            <li>
              <a routerLink="/settings" (click)="resMenu()">
                <i class="fa fa-cog"></i>
                Settings
              </a>
            </li>
            <li>
              <a routerLink="/login" (click)="resMenu()">
                <i class="fa fa-sign-out"></i>
                Logout
              </a>
            </li>
          </ul>
        </div>
        
    </div>
  </div>            
</div>
