@import '~sass/variables';
@import '~sass/mixins';
.res-menu{
    padding-left: $padding*1.5;
    @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
    &.open{
        .hamburger-menu{
            span{
                width: 5px;
                height: 5px;
                border-radius: 10px;
                &:nth-child(1){
                    top: 19px;
                    left: 0;
                }
                &:nth-child(2){
                    top: 19px;
                    left: 13px;
                }
                &:nth-child(3){
                    bottom: 17px;
                    right: 0;
                }
            }
        }
        .res-menu-wrap{
            .res-menu-bg{
                width: 100%;
            }
            .res-nav{
                @include translate ($x:0, $y:0);
                @include box-shadow();
            }
        }
    }
    .hamburger-menu{
        height: 41px;
        width: 30px;
        cursor: pointer;
        position: relative;
        span{
            height: 3px;
            width: 100%;
            display: block;
            background: $color-1;
            position: absolute;
            @include transition($time:.6s);
            &:nth-child(1){
                top: 10px;
                left: 0;
            }
            &:nth-child(2){
                top: 19px;
                left: 0;
            }
            &:nth-child(3){
                bottom: 10px;
                right: 0;
            }
        }
    }
    .res-menu-wrap{
        .res-menu-bg{
            position: fixed;
            top: 0;
            right: 0;
            width: 0%;
            height: 100%;
            background: rgba(0,0,0,.5);
            z-index: 1000;
            @include transition($time:.2s);
        }
        .res-nav{
            position: fixed;
            background: $color-white;
            top: 0;
            right: 0;
            bottom: 0;
            width: 400px;
            max-width: 90%;
            z-index: 1001;
            @include translate ($x: 100%, $y:0);
            @include transition($time:.2s);
            .main-header{
                .header-container{
                    padding: 0 $padding;
                    border-bottom: 1px solid $color-border;
                    @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
                    img{
                        width: 90px;
                        padding: $padding*1.5 0;
                    }
                }
            }
            .res-nav-body{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 57px;
                overflow: auto;
            }
            app-left-menus{
                padding: $padding $padding 0 $padding;
                border-bottom: 1px solid $color-border;
                display: block;
                ::ng-deep{
                    a:hover{
                        background: $color-bg-light;
                    }
                }
            }
            .view-profile{
                border-bottom: 1px solid $color-border;
                a{
                    @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
                    padding: $padding;
                    .pic{
                        @include pro-pic();
                    }
                    .right{
                        @include flex-self($value:1 1 auto);
                        .name{
                            font-weight: bold;
                            color: $color-1;
                        }
                        .name2{
                            font-size: 80%;
                        }
                    }
                }
            }
            .menus{
                list-style: none;
                padding: $padding 0;
                border-bottom: 1px solid $color-border;
                margin-bottom: 0;
                li{
                    a{
                        padding: $padding/2 $padding;
                        display: block;
                        text-decoration: none;
                        color: $color-black;
                    }
                }
            }
        }
    }
}
a:hover{
    background: $color-bg-light;
}