<div class="login-page">
    <div class="main-wrap">
      <!-- login animation -->
      <div class="animation loading" *ngIf="loader"></div>
      <div class="" *ngIf="signupMessage">{{signupMessage}}</div>
      <div class="logo">
        <a routerLink="/"><img src="assets/images/happy-equities-logo.png" alt="logo"></a>
      </div>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>

      <form id="signupForm" (ngSubmit)="onsignup(userdata)" [formGroup]="signupForm">   
        <div class="form">
          <h1>Sign up</h1>
          <div class="form-group" id="email-container">
            <input type="email" class="form-control" [(ngModel)]="userdata.email" (blur)="emailValidation($event)" formControlName="email" placeholder="Email">
            <span class="error-msg" *ngIf="emailError">{{emailError}}</span>
          </div>
          <div class="form-group" id="username-container">
            <input type="text" class="form-control" [(ngModel)]="userdata.username" formControlName="username" placeholder="Username">
            <span class="error-msg" *ngIf="usernameError">{{usernameError}}</span>
          </div>
          <div class="form-group" id="firstname-container">
            <input type="text" class="form-control" [(ngModel)]="userdata.first_name" formControlName="first_name" placeholder="First Name">
            <span class="error-msg" *ngIf="firstNameError">{{firstNameError}}</span>
          </div>
          <div class="form-group" id="lastname-container">
            <input type="text" class="form-control" [(ngModel)]="userdata.last_name" formControlName="last_name" placeholder="Last Name">
            <span class="error-msg" *ngIf="lastNameError">{{lastNameError}}</span>
          </div>
          <div class="form-group" id="password-container">
            <input type="password" class="form-control" [(ngModel)]="userdata.password" formControlName="password" placeholder="Password">
            <span class="error-msg" *ngIf="passwordError">{{passwordError}}</span>
          </div>
          <div class="form-group" id="dob-container">
            <!-- <input type="text" class="form-control" placeholder="Birthday" [(ngModel)]="userdata.dob" formControlName="dob" onfocus="(this.type='date')" onblur="(this.type='text')"> -->
            <!-- <ngb-datepicker [(ngModel)]="userdata.dob" formControlName="dob"  [disabled]="disabled"></ngb-datepicker> -->

            <div class="form-group">
              <div class="input-group">
                <label>Date of birth</label>
                <div class="row">
                  <div class="col">
                      <input class="form-control" [(ngModel)]="userdata.day" formControlName="day" placeholder="Day">
                  </div>
                  <div class="col">
                      <input class="form-control" [(ngModel)]="userdata.month" formControlName="month" placeholder="Month">
                  </div>
                  <div class="col">
                      <input class="form-control" [(ngModel)]="userdata.year" formControlName="year" placeholder="Year">
                  </div>
                </div>
                <!-- <input class="form-control" placeholder="Date of birth"
                       name="dp" [(ngModel)]="userdata.dob" formControlName="dob" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div> -->
              </div>
            </div>

            <span class="error-msg" *ngIf="dobError">{{dobError}}</span>
          </div>
          <div class="form-group" id="gender-container">
            <select class="form-control" [(ngModel)]="userdata.gender" formControlName="gender">
              <option>Gender</option>
              <option value="male">Male</option>
              <option value="Female">Female</option>
            </select>
            <span class="error-msg" *ngIf="genderError">{{genderError}}</span>
          </div>
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-lg-3">
              <div class="form-group" id="std-container">
                <input type="tel" maxlength="12" class="form-control" [(ngModel)]="userdata.std" formControlName="std" placeholder="ISD">
                <span class="error-msg" *ngIf="stdError">{{stdError}}</span>
              </div>
            </div>
            <div class="col-xs-9 col-sm-9 col-lg-9">
              <div class="form-group" id="contact-container">
                <input type="tel" maxlength="12" class="form-control" [(ngModel)]="userdata.contact" formControlName="contact" placeholder="Contact Number">
                <span class="error-msg" *ngIf="contactError">{{contactError}}</span>
              </div>
            </div>
          </div>
          
          <div class="form-group" id="file-container">
            <div class="input-group input-group-sm">
              <div class="custom-file">
                <input type="file"  accept='image/*' class="custom-file-input" (change)="uploadFileShowing($event)" id="upload-file">
                <label class="custom-file-label" for="inputGroupFile01">{{uploadFilename}}</label>
              </div>
            </div>
          </div>
          <div class="form-group form-check" id="agree-container">
            <input type="checkbox" id="checkbox1" class="form-check-input">
            <label for="checkbox1" class="form-check-label"><span class="link" (click)="openSm(terms)">I read and agree with the Happy Equities Terms and Conditions</span></label>
            <span class="error-msg" *ngIf="agreeError">{{agreeError}}</span>
          </div>
            <button class="btn btn-block btn-primary">Sign up</button>
            <span class="create-account">
                <a routerLink="/login">Already have an account</a>
            </span>
            <div date-picker="start" view="year"></div>
        </div>
        <button hidden class="hidenReset" type="reset"></button>
      </form>
    </div>
  </div>
  <!-- modal -->
  <ng-template #terms let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Terms and Conditions</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">    
      <app-terms-conditions></app-terms-conditions>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light btn-sm" (click)="c('Close click')">I Agreed</button>
    </div>
  </ng-template>
  