<div class="login-page">
  <div class="main-wrap">
    <div class="animation loading" *ngIf="loader"></div>
    <div class="logo">
      <a routerLink="/"><img src="assets/images/happy-equities-logo.png" alt="logo"></a>
    </div>    
    <div class="form" *ngIf="showForm == 'forgotPassword'">
      <form id="forgotPassword" (ngSubmit)="forgotPass(userdata)" [formGroup]="forgotPassword">
        <h1>Forgot password</h1>
        <div class="form-group" id="email-container"><!-- please add 'error' class for error message -->
          <input type="text" class="form-control" [(ngModel)]="userdata.email" formControlName="email" placeholder="User Email">
          <!-- <span class="error-msg" *ngIf="emailError" >{{emailError}}</span> -->
        </div>
        <button class="btn btn-block btn-primary" type="submit" >Forgot Password</button>
        <span class="create-account">
            <a routerLink="/signup">Create Account</a>
            <a routerLink="/login">Sign in</a>
        </span>
      </form>
    </div>

    <div class="form" *ngIf="showForm == 'resetPass'">
      <p>
        Please check your email for verifying/token.
      </p>
      <form id="resetPass" (ngSubmit)="resetPassword(resetData)" [formGroup]="resetPass">
        <h1>Forgot password</h1>
        <div class="form-group" id="token-container" [ngClass]="{'hideToken':hideToken == false}"><!-- please add 'error' class for error message -->
          <input type="text" class="form-control" [(ngModel)]="resetData.token" formControlName="token" placeholder="Token">
          <!-- <span class="error-msg" *ngIf="emailError" >{{emailError}}</span> -->
        </div>
        <div class="form-group" id="password-container">
          <input type="password" class="form-control" [(ngModel)]="resetData.password" formControlName="password" placeholder="New Password">
          <!-- <span class="error-msg" *ngIf="passwordError">{{passwordError}}</span> -->
        </div>
        <div class="form-group" id="confirm-password-container">
          <input type="password" class="form-control" [(ngModel)]="resetData.confirmPassword" formControlName="confirmPassword" placeholder="Confirm New Password">
          <!-- <span class="error-msg" *ngIf="passwordError">{{passwordError}}</span> -->
        </div>
        <button class="btn btn-block btn-primary" type="submit" >Reset Password</button>
        <span class="create-account">
            <a routerLink="/signup">Create Account</a>
            <a routerLink="/login">Sign in</a>
        </span>
      </form>
    </div>
  </div>
</div>
