<li>
    <div class="menu-item" [ngClass]="{'open':isCollapsed[groupName]}" (click)="toggleChild(groupName)"
      [attr.aria-expanded]="!isCollapsed[groupName]" aria-controls="category1">
      {{groupName}}
      <span><i class="fa fa-caret-right" aria-hidden="true"></i></span>
    </div>
    <div id="category1" [ngbCollapse]="!isCollapsed[groupName]">
        <ul>
            <li *ngFor="let cat of sidebarCategoriesList; let i=index">
                <a (click)="gotoCategory(cat.id); resMenu()">
                    {{cat.category_name}}
                </a>
            </li>
        </ul> 
    </div>
</li>