@import '~sass/variables';
@import '~sass/mixins';
.heading{
    margin-top: $padding;
}
.btn-primary{
    background: $color-1;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
        a,.menu-item{
            padding: $padding/4 $padding;
            padding-right: $padding*2;
            padding-bottom: $padding/3;
            display: block;
            background: transparentize($color-white, .6);
            border: 1px solid $color-border;
            color: $color-black;
            border-radius: $border-radius;
            border-top: 0;          
            position: relative;
            cursor: pointer;
            &.open{
                span{
                    i{
                        @include rotate (90);
                    }
                }
            }
            i{
                padding-right: $padding;
            }
            span{
                position: absolute;
                line-height: 15px;
                right: 0;
                top: 0;
                bottom: 0;
                height: 15px;
                margin: auto;
                padding-right: $padding/2;
                i{
                    padding: 0;
                    width: 15px;
                    text-align: center;
                }
            }
            &:hover{
                text-decoration: none;
                background: transparentize($color-white, 0);
            }
        }
        .menu-item{
            color: $color-1;
            @include gradient();
        }
        &:first-child{
            a{
                border-top: 1px solid $color-border;
            }            
        }
    }