<div class="search-page">
  <app-main-search (searchFnOutput)="searchWithstr($event)"></app-main-search>
</div>
<div class="search-body">
  <ngb-tabset>
    <ngb-tab *ngIf="post_count > 0">
      <ng-template ngbTabTitle><span (click)="changeFilterType('post')"><b>Post </b> - <small>{{post_count}}</small></span></ng-template>
      <ng-template ngbTabContent>
        <div *ngFor="let post of walpostList; let i=index">
          <app-post (likeFnOutput)="likeFun($event)" (unLikeFnOutput)="unlikeFun($event)"  [post]="post" [index]="i"></app-post>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="profile_count > 0">
      <ng-template ngbTabTitle><span (click)="changeFilterType('profile')"><b>Profile </b> - <small> {{profile_count}}</small></span></ng-template>
      <ng-template ngbTabContent>
        <div *ngFor="let pro of profileList; let i=index">
          <app-profile-listing [pro]="pro"></app-profile-listing>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <div *ngIf="(post_count == 0) && (profile_count == 0)"> No Post</div>
</div>
