@import '~sass/variables';
@import '~sass/mixins';
.search-page{
    padding: $padding;
    border: 1px solid $color-border;
    border-radius: $border-radius $border-radius 0 0;
    background: $color-white;
}
::ng-deep{
    .search-body{
        min-height: 60vh;
        .nav-tabs{
            border: 1px solid $color-border;
            border-top: 0;
            background: $color-white;
            li{
                margin: 0;
                a{
                    padding: $padding/4 $padding*2;
                    border: 0;
                    border-radius: 0;
                    &.active{
                        background: $color-bg-light;
                        font-weight: bolder;
                        border-right: 1px solid $color-border;
                    }
                }
                &:not(:first-child){
                    a{
                        &.active{
                            border-left: 1px solid $color-border;
                        }
                    }                  
                }
            }
        }
    }
}
