@import '~sass/variables';
@import '~sass/mixins';
.likes{
    @include flex-self($value:0 1 auto);
    padding: $padding/2 0;
    cursor: pointer;
    color: $color-2;
    &:hover{
        text-decoration: underline;
    }
}
.like-loader{
    height: 40px;
    position: relative;
}
ul.bodylike{
    list-style: none;
    padding: $padding/2 0;
    margin: 0;
    background: $color-white;
    max-height: calc(100vh - 90px - 3.5rem);
    overflow: auto;
    >li{
        padding: $padding/2 $padding;
        @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
        border-bottom: 1px solid $color-border-light;
        &:first-child{
            border-top: 1px solid $color-border-light;
        }
        &:hover{
            background: $color-bg-light;
            cursor: pointer;
        }
        .pic{
            @include pro-pic();
        }
        .right{
            @include flex-self($value:1 1 auto);
            .name{
                font-weight: bold;
                color: $color-1;
            }
            .body2{
                font-size: 90%;
                color: $color-2;
                i{
                    padding-right: $padding/4;
                    color: $color-1;
                }
            }
        }                
    }            
}