<div class="like-loader" *ngIf="loader">
  <app-loader></app-loader>
</div>
<ul class="bodylike">
  <li  *ngFor="let lk of likedPersons; let i=index">
      <div class="pic" [ngStyle]="{'background-image':'url(' + mediaUrl + lk.profile_photo + ')'}"></div>
      <div class="right">
        <div class="body">
          <span class="name" routerLink="/profileview/{{lk.username}}" (click)="modalClose()">{{lk.full_name}}</span>
          <span class="function">likes this post.</span>
        </div>
        <div class="body2">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          <span>{{lk.date}}</span>
        </div>
      </div>
  </li>
  <!-- <li>
      <div class="pic" style="background-image: url(assets/images/pro-pic-01.jpg)"></div>
      <div class="right">
        <div class="body">
          <span class="name">Emil Paul</span>
          <span class="function">replied to your comment.</span>
        </div>
        <div class="body2">
            <i class="fa fa-comment" aria-hidden="true"></i>
            <span>Yesterday at 4:41pm</span>
        </div>
      </div>
  </li>
  <li>
      <div class="pic" style="background-image: url(assets/images/pro-pic-01.jpg)"></div>
      <div class="right">
        <div class="body">
          <span class="name">Emil Paul</span>
          <span class="function">likes your photo.</span>
        </div>
        <div class="body2">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          <span>Yesterday at 4:41pm</span>
        </div>
      </div>
  </li> -->
</ul>