@import '~sass/variables';
@import '~sass/mixins';
.create-post{
    border: 1px solid $color-border;
    background: $color-white;
    border-radius: $border-radius;
    position: relative;
    margin-bottom: $padding *2;
    .animation{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 4px;
        background: lighten($color-2, 40);
        overflow: hidden;
        &.loading{
            display: block;
            &:before{
                content: '';
                display: block;
                height: 4px;
                width: 100%;
                background: lighten($color-1, 5);
                @extend .loaging-animation;
            }
        }
    }
    textarea{
        cursor: pointer;
    }
    &.active{
        cursor: auto;
        textarea{
            cursor: auto;
        }
        textarea{
            height: 150px;
        }
        .body.footer{
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:stretch);
            @include flex-flex-wrap($value:wrap);
        }
        .body.last{
            display: none;
        }
    }
    .head{
        border-bottom: 1px solid $color-border;
        background: $color-bg-light;
        padding: $padding/2 $padding;
        border-radius: $border-radius $border-radius 0 0;
        font-weight: bold;
        color: $color-2;
        span{
            color: $color-1;
        }
    }
    .body{
        padding: $padding;
        @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:stretch);
        .pic{
            @include pro-pic();
        }
        .right{
            @include flex-self($value:1 1 auto);
            textarea{
                display: block;
                width: 100%;
                border-color: $color-border-light;
            }
        }
        &.last{
            padding: $padding/3 0;
            margin: 0 $padding;
            border-top: 1px solid $color-border;
            color: $color-2;
            cursor: pointer;
            i{
                padding-right: $padding/4;
            }
        }
        &.footer{
            padding: $padding 0;
            margin: 0 $padding;
            border-top: 1px solid $color-border;
            display: none;
            .input-group{
                *,*:after{
                    font-size: $font-size-small;
                    line-height: 1.3;
                    height: auto;
                }
                .custom-file-input{
                    width: 0;
                }
                i{
                    padding: 2px $padding/2;
                }
            }
            .file-wrap{
                @include flex-self($value:0 1 50%);
                padding-right: $padding*4/3;
                max-width: 50%;
            }
            .select-wrap{
                @include flex-self($value:1 1 auto);
                max-width: 50%;
                .form-control{
                    padding: 3px 10px;
                    height: auto;
                }
            }
            // .file-loader{
            //     padding-top: $padding;
            //     @include flex-self($value:1 1 100%);
            //     .progress-bar{
            //         width: 0;
            //         @include transition($time:15s);
            //         &.active{
            //             width: 76%;
            //         }
            //     }
            //     .loaded{
            //         .progress-bar{
            //             @include transition($time:1s);
            //             &.active{
            //                 width: 100%;
            //             }
            //         }
            //     }
            // }
            .btn-wrap{
                @include flex-self($value:1 1 100%);
                text-align: right;
                padding-top: $padding;
            }
            .custom-file-label{
                padding-right: 80px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        
    }
    .link-preview-wrap{
        position: relative;
        width: 100%;
        word-break: break-all;
        .close{
            position: absolute;
            right: 0;
            top: 0;
            width: 26px;
            height: 26px;
            text-align: center;
            line-height: 26px;
            background: $color-white;
        }
        .img{
            img{
                max-width: 100%;
                margin: auto;
                display: block;  
            }
        }
    }
    .link-preview{
        @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
        border: 1px solid $color-border;
        border-radius: $border-radius;
        background: transparentize($color-border, .1);
        &:hover{
            background: transparentize($color-border, .05);
        }
        .left{
            @include flex-self($value:0 1 auto);
            max-width: 25%;
            // min-width: 30px;
            padding: $padding;
            border-right: 1px solid $color-border;
            @include flex-align-self($value:stretch);
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:center,$align-items:center);
        }
        .right{
            @include flex-self($value:1 1 auto);
            padding: $padding;
            @include flex-align-self($value:stretch);
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:center,$align-items:center);
            p:last-child{
                margin: 0;
            }
            p:nth-last-child(2){
                font-weight: bold;
            }
        }
    }
}