<div class="create-post" [ngClass]="{ 'active': isAddclass == true}">
  <div class="component-loader" [ngClass]="{'active': loader == true}">
    <app-loader></app-loader>
  </div>
  <form  id="post-form" (ngSubmit)="createPost(userdata)" [formGroup]="postForm">
    <div class="body">
      <div class="pic" *ngIf="global.profileName" [ngStyle]="{'background-image':'url(' + global.profilePic + ')'}"></div>
      <div class="pic" *ngIf="!global.profileName"></div>
      <div class="right">
        <textarea id="post-title" placeholder="Hi {{global.profileName}} create your post here" (paste)="fetchWebsiteDetails()" (ngModelChange)="keyUp()" [(ngModel)]="userdata.post" formControlName="post" ></textarea>
      </div>
    </div>
    <div class="body" *ngIf="isPreviewActive">
      <div class="link-preview-wrap" *ngIf="websiteData">
        <div class="close" (click)="resetWebsiteDetailes()">
          <i class="fa fa-close"></i>
        </div>
          <div class="img" *ngIf="webTitle == '' && webIcon == ''">
            <img src="{{webLink}}">
          </div>

          <div class="text">
            <a [href]="webLink" target="_blank">
              <!-- <img [src]="webIcon">
              <p *ngIf="webTitle">{{webTitle}}</p>
              <p *ngIf="!webTitle">{{webLink}}</p> -->
              <div class="link-preview">
                  <div *ngIf="webIcon" class="left">
                      <img [src]="webIcon">
                  </div>
                  <div class="right">
                      <p *ngIf="webTitle">{{webTitle}}</p>
                      <p *ngIf="!webTitle">{{webLink}}</p>
                  </div>
                </div>
            </a>
          </div>
        </div>
    </div>
    <div class="body last" (click)="addclassTrue()">
      <div class="left-icon">
        <i class="fa fa-picture-o"></i> Picture - 
        <i class="fa fa-video-camera"></i> Video - 
        <i class="fa fa-file-pdf-o"></i> PDF
      </div>
      <div class="right-icon">
        <i class="fa fa-ellipsis-h"></i>
      </div>
    </div>
    <div class="body footer">
      <div class="file-wrap">
        <div class="input-group input-group-sm">
          <div class="custom-file">
            <input type="file" class="custom-file-input" accept='image/*|video/*|application/pdf' (change)="uploadFileShowing($event)" id="inputGroupFile01">
            <label class="custom-file-label" for="inputGroupFile01">{{uploadFilename}}</label>
          </div>
        </div>
      </div>
      <div class="select-wrap" id="category-id-container" *ngIf="currentUrl != 'category'  && global.profileName">
        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="userdata.categoryId" formControlName="categoryId">
          <option [ngValue]="null">Select Page</option>
          <option *ngFor="let cat of listPostCategories" value="{{cat.id}}">{{cat.category_name}}</option>
        </select>
        <span class="error-msg" *ngIf="errorMessage">{{errorMessage}}</span>
      </div>
      <a class="select-wrap heading text-center" *ngIf="!global.profileName" routerLink="/login">
        Please login to create your post
      </a>
        <div class="btn-wrap">
          <button class="btn btn-sm btn-danger" id="close-post-btn" (click)="addclassFalse(); resetWebsiteDetailes()" type="reset">Cancel</button>
          <button *ngIf="global.profileName"  [attr.disabled]="isPostReady ? 'false' : null" class="btn btn-sm btn-primary">Post</button>
        </div>
    </div>
  </form>

</div>
