<div class="login-page">
  <div class="main-wrap">
    <div class="animation loading" *ngIf="loader"></div>
    <div class="logo">
      <a routerLink="/"><img src="assets/images/happy-equities-logo.png" alt="logo"></a>
    </div>    
    <div class="form">
      <form id="loginForm" (ngSubmit)="onLogin(userdata)" [formGroup]="loginForm">
        <h1>Sign in</h1>
        <div class="form-group" id="email-container"><!-- please add 'error' class for error message -->
          <input type="text" class="form-control" [(ngModel)]="userdata.email" formControlName="email" placeholder="Username">
          <span class="error-msg" *ngIf="emailError" >{{emailError}}</span>
        </div>
        <div class="form-group" id="password-container">
          <input type="password" class="form-control" [(ngModel)]="userdata.password" formControlName="password" placeholder="Password">
          <span class="error-msg" *ngIf="passwordError">{{passwordError}}</span>
        </div>
        <button class="btn btn-block btn-primary" type="submit" >Login</button>
        <span class="create-account">
            <a routerLink="/signup">Create Account</a>
            <a routerLink="/forgot">Forgot password</a>
        </span>
      </form>
    </div>
  </div>
</div>
