@import '~sass/variables';
.left-panel{
    width: 30%;
    padding-left: $padding;
    padding-right: $padding;
}
.right-panel{
    width: 70%;
    padding-left: $padding;
    padding-right: $padding;
}
@media only screen and (max-width : $media-sm) {
    .left-panel{
        display: none;
    }
    .right-panel{
        width: 100%;
    }
}