<div class="noti-wrap">
    <div class="head">
        <div>Notifications</div>
        <!-- <div *ngIf="!noNotification" class="mark" (click)="markAllRead()">Mark all as read</div> -->
    </div>
    <ul class="body">
          <div class="no-noti" *ngIf="loading">
            <app-loader></app-loader>
          </div>
          <div class="no-noti" *ngIf="noNotification">
            <p>oops, you have no notifications</p>
          </div>
          <li *ngFor="let notif of notificationList; let i=index" >
              <div (click)="openLg(detailed, notif.post_id, notif.notification_id, notif.notification_type)" class="unread" *ngIf="notif.is_read == 1">
                <div class="pic" [ngStyle]="{'background-image':'url(' + mediaUrl + notif.profile_photo + ')'}"></div>
                <div class="right">
                  <div class="body">
                    <span class="name">{{notif.full_name}}</span>
                    <span class="function">{{notif.notification_content}}</span>
                  </div>
                  <div class="body2">
                    <i *ngIf="notif.notification_type == 'like'" class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <span>{{notif.date}}</span>
                  </div>
                </div>
              </div>
              <div class="read" (click)="openLg(detailed, notif.post_id, notif.notification_id)" *ngIf="notif.is_read == 0">
                <div class="pic" [ngStyle]="{'background-image':'url(' + mediaUrl + notif.profile_photo + ')'}"></div>
                <div class="right">
                  <div class="body">
                    <span class="name">{{notif.full_name}}</span>
                    <span class="function">{{notif.notification_content}}</span>
                  </div>
                  <div class="body2">
                    <i *ngIf="notif.notification_type == 'like'" class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <span>{{notif.date}}</span>
                  </div>
                </div>
              </div>
          </li>
      </ul>
</div>
<ng-template #detailed let-c="close" let-d="dismiss">
  <button type="button" class="close modal-detailed-close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <app-detailed-post (clsModal)="modalClose($event)"></app-detailed-post>
</ng-template>
