@import '~sass/variables';
@import '~sass/mixins';
::ng-deep.content-area{
    .noti-wrap{
        border: 1px solid $color-border;
        background: $color-white;
        border-radius: $border-radius;
        padding-bottom: $padding;
        margin-bottom: $padding*2;
        ul.body{
            max-height: initial;
        }
    }
}
.head{
    padding: $padding/4 $padding;
    border-bottom: 1px solid $color-border;
    color: $color-2;
    font-weight: bold;
    @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
    .mark{
        font-weight: normal;
        color: $color-1;
        font-size: 90%;
        cursor: pointer;
        background: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
ul.body{
    list-style: none;
    padding: $padding/2 0;
    margin: 0;
    background: $color-white;
    max-height: 300px;
    overflow: auto;
    .no-noti{
        padding: $padding;
        text-align: center;
        position: relative;
        height: 60px;;
        app-loader{
            ::ng-deep{
                .lds-ellipsis{
                    position: absolute;
                }
            }
        }
    }
    >li{
        >div {
            padding: $padding/2 $padding;
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
            border-bottom: 1px solid $color-border-light;
        }
        &:first-child{
            border-top: 1px solid $color-border-light;
        }
        &:hover{
            background: $color-bg-light;
            cursor: pointer;
        }
        .pic{
            @include pro-pic();
        }
        .right{
            @include flex-self($value:1 1 auto);
            .name{
                font-weight: bold;
                color: $color-1;
            }
            .body2{
                font-size: 90%;
                color: $color-2;
                i{
                    padding-right: $padding/4;
                    color: $color-1;
                }
            }
        }                
    }
    .unread{
        background: $color-bg-light;
    }
}