<div class="fixed-heading" *ngIf="!global.catIvalid && global.categoryInfo.category_name">
  <div class="app-container">
    <h1 class="heading color-1">{{global.categoryInfo.category_name}}</h1>
  </div>
</div>
<div class="component-loader active" *ngIf="global.catIvalid">
  <app-loader></app-loader>
</div>
<span *ngIf="!global.catIvalid">
  <h1 class="heading color-1" *ngIf="global.categoryId != 'followed'">{{global.categoryInfo.category_name}}</h1>
  <h1 class="heading color-1" *ngIf="global.categoryId == 'followed'">Followed Post</h1>
  <div *ngIf="global.categoryInfo.category_type == 'user' && global.categoryId != 'followed'">
    <app-create-post [categoryName]="global.categoryInfo.category_name" (fnSuccessOutput)="getPostList(0)" *ngIf="!global.catIvalid"></app-create-post>
  </div>
  <div class="category-form" *ngIf="global.categoryId != 'followed' && global.categoryInfo.have_form != null">
    
    <form id="loginForm" (ngSubmit)="submitForm(userdata)" id="contactForm" [formGroup]="contactForm">
      <h1 class="heading">{{global.categoryInfo.category_name}}</h1>
      <div class="main-content">
        <img src="{{mediaUrl}}{{global.categoryInfo.logo}}" width="150px" alt="log" class="img-responsive">
        <p *ngIf="global.categoryInfo.description" [innerHTML]="global.categoryInfo.description"></p>
      </div>
      <h2 class="heading" *ngIf="global.categoryForm">Interests</h2>
      <div class="form-group form-check"  *ngFor="let form of global.categoryForm; let i=index">
        <input type="checkbox" value="{{form.form_value_name}}" class="form-check-input" id="{{form.form_value_name}}">
        <label class="form-check-label" for="{{form.form_value_name}}">{{form.form_value_name}}</label>
      </div>
      
      <h2 class="heading">Contact Form</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control"  [(ngModel)]="userdata.name" formControlName="name" placeholder="Name">
          </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
              <input type="text"  class="form-control" [(ngModel)]="userdata.email" formControlName="email" placeholder="Email">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="userdata.phone" formControlName="phone" placeholder="ISD +91">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="userdata.mobile" formControlName="mobile" placeholder="Mobile">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
              <textarea class="form-control" [(ngModel)]="userdata.message" formControlName="message" placeholder="Type your message"></textarea>
            </div>
        </div>
        <div class="col-sm-12 text-right">
          <button type="reset" class="btn btn-primary btn-sm">Reset</button>
          <button class="btn btn-primary btn-sm">Submit</button>
        </div>
      </div>

      <!-- <div class="main-content">
        <h3 class="heading">Title</h3>
        <p>
            CAPSTOCKS TOWERS, THAKARAPARAMBU ROAD<br>
            FORT, TRIVANDRUM -695023, KERALA, INDIA<br>
            PH: +91 471 2463735, 2461745
        </p>
        <h3 class="heading">Title</h3>
        <p>
            CAPSTOCKS TOWERS, THAKARAPARAMBU ROAD<br>
            FORT, TRIVANDRUM -695023, KERALA, INDIA<br>
            PH: +91 471 2463735, 2461745
        </p>
      </div> -->
    </form>
  </div>
  <span *ngIf="global.categoryPostList != 0 && global.categoryPostList != undefined">
    <div class="category-listing" *ngFor="let post of global.categoryPostList; let i=index">
      <app-post (followFnOutput)="followFn($event)" (unFollowFnOutput)="unfollowFn($event)" (editFnOutput)="editSuccess($event)" (likeFnOutput)="likeFun($event)" (unLikeFnOutput)="unlikeFun($event)"  [post]="post" [index]="i"></app-post>
    </div>
    <div class="no-post" *ngIf="global.categoryPostList == 0">
      Sorry no post available
    </div>
  </span>
  <span *ngIf="global.categoryPostList == undefined">
    <div class="no-post">
      Sorry no post available
    </div>
  </span>
  
  <div class="btm-scroll" [ngClass]="{'loading': isPostListLoading,'post-end': postEnd}" *ngIf="global.categoryPostCheck && global.categoryPostList != undefined">
    <div class="component-loader active">
        <app-loader></app-loader>
        <div class="post-end" *ngIf="postEnd">
            Looks like you've reached the end
        </div>
    </div>
  </div>
</span>






