@import '~sass/variables';
@import '~sass/mixins';
.category-form{
    border-radius: $border-radius;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    padding: $padding*2;
    background: $color-white;
    margin-bottom: $padding*2;
    .form-control{
        font-size: inherit;
    }
    .main-content{
        img{
            margin-top: $padding;
            margin-bottom: $padding*2;
        }
    }
}
.component-loader{
    position: relative;
    height: 50vh;
    border: 1px solid $color-border;
    margin-bottom: $padding*2;
}
.post-loader{
    position: relative;
    height: 40px;
    border: 1px solid $color-border;
    background: $color-white;
    border-radius: $border-radius;
}
.no-post{
    padding: $padding;
    text-align: center;
    border-radius: $border-radius;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    padding: $padding*2;
    background: $color-white;
    margin-bottom: $padding*2;
}
.btm-scroll{
    min-height: 40px;
    margin-top: $padding*2;
    &.loading{
        .component-loader{
            display: block;
        }
    }
    .post-end{
        display: none;
    }
    &.post-end{
        height: auto;
        app-loader{
            display: none;
        }
        .post-end{
            display: block;
            padding: $padding;
            text-align: center;
        }
    }
    .component-loader{
        display: none;
        height: 40px;
        .post-loader{
            padding: $padding;
        }
    }
}
app-create-post{
    margin-bottom: $padding*2;
    display: block;
}
::ng-deep{
    .category-listing:first-child{
        .post-wrap{
            margin-top: 0;
        }
    }
}
.heading.color-1{
    color: $color-1;
}
.fixed-heading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    @include gradient();
    padding: $padding 0;
    border-bottom: 1px solid $color-border-dark;
    .heading{
        margin:0;
    }
}
