<div class="item-wrap" *ngFor="let com of commentList; let i=index">
  <div class="item">
      <div class="pic" [ngStyle]="{'background-image':'url(' + mediaUrl + com.profile_photo + ')'}"></div>
      <div class="right">
          <div class="body">
              <div class="left">
                <a class="name" (click)="goToProfile(com.username)">{{com.full_name}}</a>
                <!-- <span class="text">{{com.comment}}</span> -->
                <app-comment-text [text]="com.comment"></app-comment-text>
              </div>
              <div class="left" *ngIf="com.own_comment == 1">
                  <div class="options">
                      <div ngbDropdown placement="bottom-right" class="d-inline-block">
                          <span id="dropdownBasic1" ngbDropdownToggle>
                              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                          </span>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="dropdown-item" (click)="showCommentEdit(com.id)">Edit</button>
                            <button class="dropdown-item" (click)="deleteComment(com.id, com.post_id)">Delete</button>
                          </div>
                        </div>
                  </div>
              </div>
            </div>
            <aside *ngIf="com.commentType != 'text'" class="comment-file">
                <a *ngIf="com.commentType != 'image'" target="_blank" [href]="mediaUrl+com.file">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </a>
                <a *ngIf="com.commentType == 'image'" target="_blank" [href]="mediaUrl+com.file">
                  <img *ngIf="com.commentType == 'image'" [src]="mediaUrl+com.file" width="150px">
                </a>
            </aside>
        <div class="body2">
          <!-- <span class="replay" (click)="toggleRplyComment()">Reply</span> -->
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <!-- <span>{{com.comment_date | amLocal | amUtc | amDateFormat:'MM.DD.YYYY HH:mm:ss'}}</span> -->
          <!-- <span>{{com.comment_date | date:'dd MMM yyyy hh:mm:a':'Z'}}</span> -->
          <span>{{com.comment_date}}</span>

        </div>
        <div class="form-group hide" id="edit-comment-{{com.id}}">
          <input type="text" class="form-control" [value]="com.comment" id="edit-com-text-{{com.id}}" name="">
          <button class="btn btn-sm btn-primary" (click)="editComment(com.id, com.post_id)">Submit</button>
        </div>        
      </div>
    </div>
    
    <div class="item replay comment" [ngClass]="{'active': toggleRplay}">
        <div class="pic" style="background-image: url(assets/images/pro-pic-02.jpg)"></div>
        <div class="mid">
            <textarea rows="1" class="form-control" placeholder="Write a comment.."></textarea>
          </div>
          <div class="last">
            <button class="btn btn-primary btn-sm">Post</button>
          </div>
    </div>
</div>