<div class="component-loader active" *ngIf="!profile.first_name">
  <app-loader></app-loader>
</div>
<div class="profile-wrap" *ngIf="profile.first_name">
    <div class="head">
      <div class="pro-pic" [ngStyle]="{'background-image':'url(' + global.profilePic + ')'}"></div>
      <a routerLink="/settings" class="settings"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
    </div>
    <h3 class="name">{{profileName}}</h3>
    <div class="profile-body">
      <h6>Name</h6>
      <p>{{profile.first_name}} {{profile.last_name}}</p>
      <h6>Username</h6>
      <p>{{profile.username}}</p>
      <h6>Email</h6>
      <p>{{profile.email}}</p>
      <h6>Contact</h6>
      <p>{{profile.contact}}</p>
      <h6>Date of Birth</h6>
      <p>{{profile.dob}}</p>
      <h6>Gender</h6>
      <p>{{profile.gender}}</p>
    </div>
  </div>
  <h2 *ngIf="profile.first_name" class="heading">{{profile.first_name}}'s all post</h2>
  <hr *ngIf="profile.first_name">
  <div *ngIf="profile.first_name">
    <div *ngFor="let post of walpostList; let i=index">
      <app-post (followFnOutput)="followFn($event)" (unFollowFnOutput)="unfollowFn($event)" (likeFnOutput)="likeFun($event)" (unLikeFnOutput)="unlikeFun($event)"  [post]="post" [index]="i"></app-post>
    </div>
    <div class="btm-scroll" [ngClass]="{'loading': isPostListLoading,'post-end': postEnd}">
      <div class="component-loader active">
          <app-loader></app-loader>
          <div class="post-end" *ngIf="postEnd">
              Looks like you've reached the end
          </div>
      </div>
    </div>
  </div>
  
