@import '~sass/_mixins.scss';
@import '~sass/_variables.scss';

.profile-wrap{
  border-radius: $border-radius;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  padding-bottom: $padding;
  background: $color-white;
  margin-bottom: $padding*2;
  .head{
    height: 75px;
    @include gradient($from:#fff,$to:#bed1ee);
    border-radius: $border-radius $border-radius 0 0;
    position: relative;
    .pro-pic{
      @include pro-pic($size:100px);
      position: absolute;
      top: 25px;
      left: $padding;
    }
    .settings{
      position: absolute;
      right: $padding;
      bottom: $padding;
      color: $color-1;
      font-weight: bold;
    }
  }
  .name{
    padding: $padding 0;
    margin: 0;
    padding-left: 100px + $padding*2;
    font-size: $font-size-large;
    font-weight: bold;
    min-height: 40px;
  }
  .profile-body{
    padding: $padding*2 $padding $padding $padding;
    h6{
      margin: 0;
      font-weight:bold;
    }
    p:last-child{
      margin-bottom: 0;
    }
  }
}
.component-loader{
  position: relative;
  height: 50vh;
  border: 1px solid $color-border;
  margin-bottom: $padding*2;
}
.post-loader{
  position: relative;
  height: 40px;
  border: 1px solid $color-border;
  margin-top: $padding*2;
  background: $color-white;
  border-radius: $border-radius;
}
.btm-scroll{
min-height: 40px;
&.loading{
    .component-loader{
        display: block;
    }
}
.post-end{
    display: none;
}
&.post-end{
    height: auto;
    app-loader{
        display: none;
    }
    .post-end{
        display: block;
        padding: $padding;
        text-align: center;
    }
}
.component-loader{
    display: none;
    height: 40px;
    .post-loader{
        padding: $padding;
    }
}
}
