@import '~sass/variables';
@import '~sass/mixins';
.main-footer{
    color: $color-2;
    font-size: $font-size-small;
    margin-top: -$padding/2;
    margin-bottom: $padding*2;
    a{
        color: $color-2;
    }
}