@import '~sass/variables';
@import '~sass/mixins';
::ng-deep{
    // .modal-dialog.modal-lg{
    //     max-width: 90%;
    // }
    .loader{
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
        background: $color-white;
        border-radius: $border-radius;
        z-index: 1;
    }
    .modal-detailed-close{
        position: absolute;
        right: 0;
        top: $padding;
        z-index: 100;
        span{            
            padding-right: $padding !important;
            padding-left: $padding !important;
        }
    }
    .hide{
        display:none;
    }
    @media only screen and (max-width : $media-sm) {
        
        .modal-dialog.modal-lg{
            padding: $padding;
            padding-top:90px;
            margin: auto;
            .post-wrap{
                margin-bottom:0;
            }
            .body-mob-scroll{
                max-height: calc(100vh - 180px);
                overflow: auto;
                border-radius: 0 0 $border-radius $border-radius;
                
            }
        }
    }
    
}
.post-wrap{
    border: 0px;
    border-radius: $border-radius;
    background: $color-white;
    margin-top: 0;
    &:hover{
        .head{
            .right{
                .body{
                    .options{
                        .d-inline-block{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .head{
        padding: $padding;
        @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
        .pic{
            @include pro-pic();
        }
        .right{
            @include flex-self($value:1 1 auto);
            .name{
                font-weight: bold;
                color: $color-1;
            }
            .body{
                @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
                .options{
                    color: lighten($color-2, 5);
                    cursor: pointer;
                    i{
                        padding: 0 $padding/2;
                    }
                    .dropdown-toggle{
                        &:after{
                            display: none;
                        }
                    }
                    .dropdown-menu{
                        min-width: initial;
                    }
                    .d-inline-block{
                        border: 1px solid #fff;
                        border-radius: $border-radius;
                        opacity: 0;
                        &:hover{
                            border: 1px solid $color-border-light;
                            color: $color-2;
                            opacity: 1;
                        }
                        &.show{
                            border: 1px solid $color-border-light;
                            color: $color-2;
                            opacity: 1;
                        }
                    }
                    
                }
            }
            .body2{
                font-size: 90%;
                color: $color-2;
                i{
                    padding-right: $padding/4;
                }
            }
        }  
    }
    .body-mob-scroll{
        >.body{
            padding: 0 $padding;
            .item-wrap{
                max-height: none;            
                .file-wrap{
                    background: $color-bg-light;
                    cursor: default;
                    &.file{
                        i{
                            font-size: $font-size-large *3;
                        }
                    }
                    img,video{
                        width: 100%;
                        height: auto;
                        margin: auto;
                        display: block;
                        max-width: 100%;
                        cursor: default;
                    }
                }
                .item-text{
                    padding-bottom: $padding;
                    line-height: 1.2;
                    word-break: break-word;
                }
            }        
        }
        >.footer{
            padding: 0 $padding;
            user-select: none;
            .count-wrap{
                @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
                >div{
                    @include flex-self($value:0 1 auto);
                    padding: $padding/2 0;
                    cursor: pointer;
                    color: $color-2;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .like-wrap{
                @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
                border-top: 1px solid $color-border;
                padding-bottom: $padding/2;
                >div{
                    @include flex-self($value:0 1 33.33333%);
                    text-align: center;
                    cursor: pointer;
                    padding: $padding/2 0;
                    font-size: 105%;
                    &:hover{
                        background: $color-bg-light;
                    }
                    &.like{
                        i{
                            width: 15px;
                        }
                        &.liked{
                            color: $color-1;
                            i:before{
                                content:'\f164';
                            }
                        }
                    }
                    &.comment{
                        i{
                            width: 16px;
                        }
                        &.active{
                            color: $color-1;
                            i:before{
                                content:'\f075';
                            }
                        }
                    }
                    &.follow{
                        &.followed{
                            color: $color-1;
                        }
                    }
                    &.share{
                        max-width: 40px;
                        .heading{
                            margin: 0 $padding;
                            padding-bottom: $padding;
                            border-bottom: 1px solid $color-border-light;
                        }
                        .dropdown-menu{
                            min-width: 100px;
                            width: 145px;
                        }
                        .item{
                            cursor: default;
                            padding: $padding/2;
                            ::ng-deep .sb-wrapper{
                                border-color: $color-1;
                                &:hover{
                                    background: $color-bg-light;
                                }
                            }
                        }
                    }
                }
            }
        }
        .likes-wrap{
            border-top: 1px solid $color-border;
            padding-bottom: $padding;
            display: none;
            &.active{
                display: block;
            }
            .head{
                background: $color-bg;
                font-weight: bold;
                padding: $padding/2 $padding;
                border-bottom: 1px solid $color-border;
            }
        }
        .comment-wrap{
            background: $color-bg-light;
            border-radius: 0 0 $border-radius $border-radius;
            .head{
                background: $color-bg;
                font-weight: bold;
                padding: $padding/2 $padding;
                border-top: 1px solid $color-border;
            }
            .commented-list{
                & + .new-comment{
                    @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:stretch);
                }
                ::ng-deep{
                    .item-wrap{
                        display: block;
                    }
                }
                .comment-loader{
                    height: 20px;
                }
            }
            .new-comment{
                .animation{
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 4px;
                    background: lighten($color-2, 40);
                    &.loading{
                        display: block;
                        &:before{
                            content: '';
                            display: block;
                            height: 4px;
                            width: 70%;
                            background: lighten($color-1, 5);
                            @extend .loaging-animation;
                        }
                    }
                }
                display: none;
                position: relative;
                overflow: hidden;
                border-top: 1px solid $color-border;
                padding: $padding;
                .pic{
                    @include pro-pic(30px);
                }
                .mid{
                    @include flex-self($value:1 1 auto);
                    padding-right: $padding;
                    textarea{
                        font-size: inherit;
                        line-height: 1.2;
                    }
                    &.has-content{
                        & + .last{
                            display: block;
                        }
                    }
                    label{
                        position: absolute;
                        right: $padding *2;
                        top: 0;
                        bottom: 0;
                        display: block;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        margin: auto;
                        cursor: pointer;
                        &:hover{
                            background: transparentize($color-1, .9);
                        }
                    }
                }
                .last{
                    display: none;
                }
                &.active{
                    @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:stretch);
                }
                
            }        
        }
    }
    .link-preview{
        @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
        border: 1px solid $color-border;
        border-radius: $border-radius;
        background: transparentize($color-border, .1);
        &:hover{
            background: transparentize($color-border, .05);
        }
        .left{
            @include flex-self($value:0 1 auto);
            max-width: 25%;
            min-width: 30px;
            padding: $padding;
            border-right: 1px solid $color-border;
            @include flex-align-self($value:stretch);
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:center,$align-items:center);
        }
        .right{
            @include flex-self($value:1 1 auto);
            padding: $padding;
            @include flex-align-self($value:stretch);
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:center,$align-items:center);
            p:last-child{
                margin: 0;
            }
            p:nth-last-child(2){
                font-weight: bold;
            }
        }
    }
}
