<div class="post-wrap">
  <div class="loader" *ngIf="loading">
    <app-loader></app-loader>
  </div>
  <div class="head">
    <div class="pic" *ngIf="walpostList.username != null" [ngStyle]="{'background-image':'url(' + mediaUrl + walpostList.profile_photo + ')'}"></div>
    <div class="pic" *ngIf="walpostList.username == null" [ngStyle]="{'background-image':'url(' + mediaUrl + walpostList.admin_photo + ')'}"></div>
    <div class="right">
      <div class="body">
          <!-- <a class="name"  routerLink="profileview/{{walpostList.username}}" (click)="modalClose($event)">{{walpostList.full_name}}</a> -->
          <a class="name" *ngIf="walpostList.username != null" routerLink="profileview/{{walpostList.username}}" (click)="modalClose($event)">{{walpostList.full_name}}</a>
          <a *ngIf="walpostList.username == null" class="name">{{walpostList.category_name}}</a>
      </div>
      <div class="body2">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <!-- <span>{{walpostList.post_date | amLocal | amUtc | amDateFormat:'MM.DD.YYYY HH:mm:ss'}}</span> -->
        <span>{{walpostList.post_date}}</span>

        <span class="space"> - </span>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <span>{{walpostList.category_name}}</span>
      </div>
    </div>
  </div>
  <div class="body-mob-scroll">
    <div class="body">
      <div class="item-wrap">
        <div class="item-text">
            <!-- <a *ngIf="walpostList.web_link; else two" [href]="walpostList.web_link" target="_blank">
              <div [innerHTML]="walpostList.post"></div>
            </a>
            <ng-template #two>
              <div [innerHTML]="walpostList.post"></div>
            </ng-template> -->
            <app-comment-text [text]="walpostList.post" [popup]="true"></app-comment-text>
        </div>
        <!-- post type image -->
        <div class="file-wrap"  *ngIf="walpostList.post_type == 'image'">
          <img src="{{mediaUrl}}{{walpostList.attachment}}" alt="post">
        </div> 

        <!-- post type link pasted -->
          <div class="file-wrap" *ngIf="walpostList.post_type == 'link'">
        <div *ngIf="walpostList.web_title == '' && walpostList.web_icon == '' && !walpostList.web_link.includes('.pdf')">
          <img (click)="openLg(detailed, walpostList.id, index)" src="{{walpostList.web_link}}" width="300px">
        </div>
        <div class="file-wrap file" *ngIf="walpostList.web_title == '' && walpostList.web_icon == '' && walpostList.web_link.includes('.pdf')">
          <a href="{{walpostList.web_link}}" target="_blank">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          </a> 
        </div>
        <div *ngIf="walpostList.web_title != '' || walpostList.web_icon != ''">
          <a [href]="walpostList.web_link" target="_blank">
            <div class="link-preview">
              <div *ngIf="walpostList.web_icon" class="left">
                <img [src]="walpostList.web_icon">
              </div>
              <div class="right">
                <p *ngIf="walpostList.web_title">{{walpostList.web_title}}</p>
                <p *ngIf="!walpostList.web_title">{{walpostList.web_link}}</p>
              </div>
            </div>
          </a>
        </div>
      </div>

        <!-- post type video -->
    
        <div class="file-wrap video"  *ngIf="walpostList.post_type == 'video'">
          <video controls>
            <source src="{{mediaUrl}}{{walpostList.attachment}}" type="video/mp4">
            <source src="{{mediaUrl}}{{walpostList.attachment}}" type="video/ogg">
            Your browser does not support HTML5 video. Please update your browser.
          </video>
        </div>
  
        <!-- post type pdf and other files -->
  
        <div class="file-wrap file"  *ngIf="walpostList.post_type == 'application'">
          <a href="{{mediaUrl}}{{walpostList.attachment}}" target="_blank">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          </a> 
        </div>    
      </div>
    </div>
    <div class="footer" *ngIf="global.profileName">
      <div class="count-wrap">
          <div class="likes" (click)="likedList()">
            <span *ngIf="walpostList.like_count > 0">{{walpostList.like_count}} Likes
            </span>
          </div>
        <div class="comment" (click)="commentedList()">
          <span *ngIf="walpostList.comment_count > 0">
            {{walpostList.comment_count}} Comments
          </span>
        </div>
      </div>
      <div class="like-wrap">
        <div class="like liked" *ngIf="walpostList.is_liked == 1" (click)="likeFun(walpostList.like_count, false, walpostList.id)">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><!-- {{liketext}} -->
          <span >Liked</span>
          <!-- Like -->
        </div>
        <div class="like" *ngIf="walpostList.is_liked == 0" (click)="likeFun(walpostList.like_count, true, walpostList.id)">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><!-- {{liketext}} -->
          <span >Like</span>
          <!-- Like -->
        </div>
        <div class="comment" [ngClass]="{'active': toggleCommented}" (click)="toggleComment()">
          <i class="fa fa-comment-o" aria-hidden="true"></i>
          Comment
        </div>
      
        <div class="follow followed" *ngIf="walpostList.is_followed == 1" (click)="followFun(walpostList.follow_count, index, false, walpostList.id)">
          <i class="fa fa-check" aria-hidden="true"></i>Followed
          <!-- Follow -->
        </div>
        
        <div class="follow" *ngIf="walpostList.is_followed == 0" (click)="followFun(walpostList.follow_count, index, true, walpostList.id)">
          <i class="fa fa-check" aria-hidden="true"></i>Follow
          <!-- Follow -->
        </div>
        <div class="share">
          <div ngbDropdown placement="top-right" class="d-inline-block">
              <div class="drop-down" id="notifications" ngbDropdownToggle>
                  <i class="fa fa-share" aria-hidden="true"></i>
              </div>
              <div ngbDropdownMenu aria-labelledby="notifications">
                <h4 class="heading">Share post</h4>
                <div class="item">
                    <share-buttons [theme]="'material-dark'" [showName]="false" [include]="['facebook','whatsapp','twitter','telegram','google','email','linkedin','copy']" [url]="postURL"></share-buttons>
                </div>
              </div>
            </div>
      </div>
        
      </div>
    </div>
    <div class="footer" *ngIf="!global.profileName">
      <div class="count-wrap">
          <div class="likes" >
            <span *ngIf="walpostList.like_count > 0" routerLink="/login">{{walpostList.like_count}} Likes
            </span>
          </div>
        <div class="comment">
          <span *ngIf="walpostList.comment_count > 0" routerLink="/login">
            {{walpostList.comment_count}} Comments
          </span>
        </div>
      </div>
      <div class="like-wrap">
        <div class="like liked" *ngIf="walpostList.is_liked == 1" (click)="likeFun(walpostList.like_count, false, walpostList.id)">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><!-- {{liketext}} -->
          <span >Liked</span>
          <!-- Like -->
        </div>
        <div class="like" *ngIf="walpostList.is_liked == 0" (click)="likeFun(walpostList.like_count, true, walpostList.id)">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><!-- {{liketext}} -->
          <span >Like</span>
          <!-- Like -->
        </div>
        <div class="comment" [ngClass]="{'active': toggleCommented}" (click)="toggleComment()">
          <i class="fa fa-comment-o" aria-hidden="true"></i>
          Comment
        </div>
      
        <div class="follow followed" *ngIf="walpostList.is_followed == 1" (click)="followFun(walpostList.follow_count, index, false, walpostList.id)">
          <i class="fa fa-check" aria-hidden="true"></i>Followed
          <!-- Follow -->
        </div>
        
        <div class="follow" *ngIf="walpostList.is_followed == 0" (click)="followFun(walpostList.follow_count, index, true, walpostList.id)">
          <i class="fa fa-check" aria-hidden="true"></i>Follow
          <!-- Follow -->
        </div>
        <div class="share">
            <div ngbDropdown placement="top-right" class="d-inline-block">
                <div class="drop-down" id="notifications" ngbDropdownToggle>
                    <i class="fa fa-share" aria-hidden="true"></i>
                </div>
                <div ngbDropdownMenu aria-labelledby="notifications">
                  <h4 class="heading">Share post</h4>
                  <div class="item">
                      <share-buttons [theme]="'material-dark'" [showName]="false" [include]="['facebook','whatsapp','twitter','telegram','google','email','linkedin','copy']" [url]="postURL2"></share-buttons>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="likes-wrap" [ngClass]="{'active': likesWrap}">
      <div class="head" *ngIf="likedPersonsLength > 1">
          {{likedPersons.full_name}} and {{likedPersonsLength - 1 }} others likeed this
        </div>
      <div class="head" *ngIf="likedPersonsLength <= 1">
          {{likedPersons.full_name}} liked this post
      </div>
      <app-liked-list></app-liked-list>
    </div>
    <div class="comment-wrap">
      <div class="head" *ngIf="commentListLength > 1">
          {{lastCommented.full_name}} and {{commentListLength - 1}} others commented this
        </div>
      <div class="head" *ngIf="commentListLength == 1">
          {{lastCommented.full_name}} commented this post
      </div>
      <div class="commented-list" [ngClass]="{'hide': walpostList.comment_count == 0}">
          <!-- <app-comment-item (clsModal)="modalClose($event)"></app-comment-item> -->
          <app-comment-item (deleteCommentOutput)="commentDelete($event)" (loading)="commentLoading()" #commentItem [postId]="postId" (clsModal)="modalClose($event)"></app-comment-item>
          <div class="comment-loader" *ngIf="isCommentLoad">
              <app-loader></app-loader>
            </div>
      </div>
      <div class="new-comment" [ngClass]="{'active': toggleCommented}">
        <div class="animation" [ngClass]="{'loading': isLoadingComment}"></div>
        <div class="pic" *ngIf="!global.profilePic"></div>
        <div class="pic" *ngIf="global.profilePic" [ngStyle]="{'background-image':'url(' + global.profilePic + ')'}"></div>
        <div class="mid" [ngClass]="{'has-content': isHasContent}">
          <textarea (keyup)="onChange($event)" [attr.disabled]="isLoadingComment ? 'false' : null" rows="1" class="form-control mainComment" placeholder="Write a comment.."></textarea>
          <label title="Upload file"><i class="fa fa-paperclip" aria-hidden="true"></i>
            <input hidden type="file" id="cmment-file-{{postId}}" [name]="postId" (change)="uploadFileShowing($event)" name="">
          </label>
        </div>
        <div class="last">
          <button [attr.disabled]="isLoadingComment ? 'false' : null" class="btn btn-primary btn-sm" (click)="postComments(postId)">Post</button>
        </div>
      </div>
      <div class="upload-file" *ngIf="uploadFilename">
        <i class="fa fa-paperclip" aria-hidden="true"></i> {{uploadFilename}}
        <span class="remove" (click)="removeFile()">
          <i class="fa fa-close" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
</div>