<app-header (postReload)="getPostList(0)"></app-header>
<app-create-post *ngIf="global.homepage_post === '1' && isPostLoading == false" (fnSuccessOutput)="getPostList(0)"></app-create-post>
<app-create-post *ngIf="!global.profileName" (fnSuccessOutput)="getPostList(0)"></app-create-post>

<div class="component-loader active" *ngIf="isValid">
    <app-loader></app-loader>
</div>
<div class="post-loader" *ngIf="isPostLoading">
    <app-loader></app-loader>
</div>
<div *ngFor="let post of walpostList; let i=index">
    <app-post (followFnOutput)="followFn($event)" (unFollowFnOutput)="unfollowFn($event)" (editFnOutput)="editSuccess($event)" (likeFnOutput)="likeFun($event)" (unLikeFnOutput)="unlikeFun($event)"  [post]="post" [index]="i"></app-post>
</div>
<div class="btm-scroll" [ngClass]="{'loading': isPostListLoading,'post-end': postEnd}">
<div class="component-loader active">
    <app-loader></app-loader>
    <div class="post-end" *ngIf="postEnd">
        Looks like you've reached the end
    </div>
</div>
</div>