@import '~sass/variables';
// .left-panel{
//     width: 30%;
//     padding-left: $padding;
//     padding-right: $padding;
// }
//     width: 70%;
//     padding-left: $padding;
//     padding-right: $padding;
    .component-loader{
        position: relative;
        height: 50vh;
        border: 1px solid $color-border;
        margin-top: 0;
    }
    .post-loader{
        position: relative;
        height: 40px;
        border: 1px solid $color-border;
        margin-top: $padding*2;
        background: $color-white;
        border-radius: $border-radius;
    }
    .btm-scroll{
        min-height: 40px;
        &.loading{
            .component-loader{
                display: block;
            }
        }
        .post-end{
            display: none;
        }
        &.post-end{
            height: auto;
            app-loader{
                display: none;
            }
            .post-end{
                display: block;
                padding: $padding;
                text-align: center;
            }
        }
        .component-loader{
            display: none;
            height: 40px;
            .post-loader{
                padding: $padding;
            }
        }
    }
// .right-panel{
// }
// @media only screen and (max-width : $media-sm) {
//     .left-panel{
//         display: none;
//     }
//     .right-panel{
//         width: 100%;
//     }
// }
::ng-deep app-post-listing .headerHeight{
    display: none;
}