<div class="adv-wrap" *ngIf="hasAds">
  <h3 class="heading">Advertising</h3>
  <div class="ad-item"  *ngFor="let ads of advertisementList; let i=index">
    <a href="{{ads.ad_link}}" target="_blank">
      <img src="{{mediaUrl}}{{ads.attachment}}" alt="{{ads.title}}">
      <div>
        <h3 class="heading">{{ads.title}}</h3>
        <p>{{ads.description}}</p>
        <button *ngIf="ads.button_label" class="btn btn-sm btn-primary">{{ads.button_label}}</button>
      </div>
    </a>
  </div> 
</div>
