@import '~sass/variables';
.adv-wrap{
    .ad-item{
        padding: $padding;
        border: 1px solid $color-border;
        border-radius: $border-radius;
        background: $color-white;
        margin-bottom: $padding*2;
        img{
            width: 100%;
            margin-bottom: $padding;
        }
        .heading{
            color: $color-1;
            margin-bottom: $padding/3;
        }
        p{
            color: $color-1;
            margin-bottom: $padding;
        }
    }
    .heading{
        margin-top: $padding;
    }
    
}