
<div class="twitter">
  <a class="twitter-timeline" data-height="350" href="https://twitter.com/happyequities?ref_src=twsrc%5Etfw">Tweets by happyequities</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>