@import '~sass/variables';
.twitter{
    border: 1px solid $color-border;
    border-radius: $border-radius;
    background: $color-white;
    margin-bottom: $padding *.5;
    iframe{
        display: block;
        margin: 0;
    }
}