<div class="post-wrap" >
  <div class="loading-delete" [ngClass]="{'deleting': deleting}">
    <app-loader></app-loader>
  </div>
  <div class="head">
    <div class="pic" (click)="goToProfile(post.username)" *ngIf="post.username != null" [ngStyle]="{'background-image':'url(' + mediaUrl + post.profile_photo + ')'}"></div>
    <div class="pic" (click)="goToCategory(post.categroy_id)" *ngIf="post.username == null" [ngStyle]="{'background-image':'url(' + mediaUrl + post.admin_photo + ')'}"></div>
    <div class="right">
      <div class="body">
          <a class="name" *ngIf="post.username != null" (click)="goToProfile(post.username)">{{post.full_name}}</a>
          <a *ngIf="post.username == null" class="name" (click)="goToCategory(post.categroy_id)">{{post.category_name}}</a>
          <div class="options" *ngIf="post.own_post == 1">
              <div ngbDropdown placement="bottom-right" class="d-inline-block">
                <span id="dropdownBasic1" ngbDropdownToggle>
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </span>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item" (click)="openEdit(post.id)">Edit</button>
                  <button class="dropdown-item" (click)="deletePost(post.id)">Delete</button>
                </div>
              </div>
          </div>
      </div>
      <div class="body2">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <!-- <span>{{post.post_date | amFromUtc | amDateFormat: 'YYYY-MM-DD HH:mm'}}</span> -->
        <!-- <span>{{post.post_date | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</span> -->
        <!-- <span>{{post.post_date | amLocal | amUtc | amDateFormat:'MM.DD.YYYY HH:mm:ss'}}</span> -->
        <span>{{post.post_date}}</span>

        <span class="space"> - </span>
        Page 
        <span class="link" (click)="goToCategory(post.categroy_id)">{{post.category_name}}</span>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="item-wrap">
      <div class="item-text">
          <app-comment-text [text]="post.post"></app-comment-text>
      </div>
      <div class="form-group hide" id="edit-group-{{post.id}}">
        <div class="form-group">
          <!-- <input type="text" class="form-control" [value]="post_Text" id="edit-text-{{post.id}}" name=""> -->
          <textarea class="form-control"  name="" [value]="post_Text" id="edit-text-{{post.id}}" rows="10"></textarea>
        </div>
        <button class="btn btn-sm btn-primary" (click)="updatePost(post.id, index)">Submit</button>
      </div>

      <!-- post type image -->

      <div class="file-wrap"  *ngIf="post.post_type == 'image'">
        <img (click)="openLg(detailed, post.id, index)" src="{{mediaUrl}}{{post.attachment}}" alt="post">
      </div>

      <!-- post type link pasted -->

      <div class="file-wrap" *ngIf="post.post_type == 'link'">
        <div *ngIf="post.web_title == '' && post.web_icon == '' && !post.web_link.includes('.pdf')">
          <img (click)="openLg(detailed, post.id, index)" src="{{post.web_link}}" width="300px">
        </div>
        <div class="file-wrap file" *ngIf="post.web_title == '' && post.web_icon == '' && post.web_link.includes('.pdf')">
          <a href="{{post.web_link}}" target="_blank">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          </a> 
        </div>
        <div *ngIf="post.web_title != '' || post.web_icon != ''">
          <a [href]="post.web_link" target="_blank">
            <div class="link-preview">
              <div *ngIf="post.web_icon" class="left">
                <img [src]="post.web_icon">
              </div>
              <div class="right">
                <p *ngIf="post.web_title">{{post.web_title}}</p>
                <p *ngIf="!post.web_title">{{post.web_link}}</p>
              </div>
            </div>
          </a>
        </div>
        <div *ngIf="post.attachment != '' && !post.web_link.includes('.pdf')">
          <img (click)="openLg(detailed, post.id, index)" src="{{mediaUrl}}{{post.attachment}}" alt="post">
        </div>
      </div>

      <!-- post type video -->
    
      <div class="file-wrap video"  *ngIf="post.post_type == 'video'">
        <video controls id="video">
          <source src="{{mediaUrl}}{{post.attachment}}" type="video/mp4">
          <source src="{{mediaUrl}}{{post.attachment}}" type="video/ogg">
          Your browser does not support HTML5 video. Please update your browser.
        </video>
      </div>

      <!-- post type pdf and other files -->

      <div class="file-wrap file"  *ngIf="post.post_type == 'application'">
        <a href="{{mediaUrl}}{{post.attachment}}" target="_blank">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        </a> 
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="count-wrap" *ngIf="global.profilePic">      
      <div class="like" (click)="openSm(like, post.id)">
        <span *ngIf="post.like_count >= 1">
          {{post.like_count}} Likes
        </span>
      </div>
      <div class="comment" (click)="openLg(detailed, post.id, index)">
        <span *ngIf="post.comment_count >= 1">
          {{post.comment_count}} Comments
        </span>
      </div>
    </div>
    <div class="count-wrap" *ngIf="!global.profilePic">      
      <div class="like" routerLink="/login">
        <span>
          {{post.like_count}} Likes
        </span>
      </div>
      <div class="comment" routerLink="/login">
        <span>
          {{post.comment_count}} Comments
        </span>
      </div>
    </div>

    <div class="like-wrap">

      <div class="like liked" *ngIf="post.is_liked == 1" (click)="likeFun(post.like_count, index, false, post.id)">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><!-- {{liketext}} -->
        <span >Liked</span>
        <!-- Like -->
      </div>
      <div class="like" *ngIf="post.is_liked == 0" (click)="likeFun(post.like_count, index, true, post.id)">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><!-- {{liketext}} -->
        <span >Like</span>
        <!-- Like -->
      </div>

      <div class="comment" [ngClass]="{'active': toggleCommented}" (click)="toggleComment()">
        <i class="fa fa-comment-o" aria-hidden="true"></i>
        Comment
      </div>

      <div class="follow followed"  *ngIf="post.is_followed == 1" (click)="followFun(post.follow_count, index, false, post.id)">
        <i class="fa fa-check" aria-hidden="true"></i>Followed
        <!-- Follow -->
      </div>

      <div class="follow"  *ngIf="post.is_followed == 0" (click)="followFun(post.follow_count, index, true, post.id)">
        <i class="fa fa-check" aria-hidden="true"></i>Follow
        <!-- Follow -->
      </div>

      <div class="share">
          <div ngbDropdown placement="top-right" class="d-inline-block">
              <div class="drop-down" id="notifications" ngbDropdownToggle>
                  <i class="fa fa-share" aria-hidden="true"></i>
              </div>
              <div ngbDropdownMenu aria-labelledby="notifications">
                <h4 class="heading">Share post</h4>
                <div class="item">
                    <share-buttons [theme]="'material-dark'" [showName]="false" [include]="['facebook','whatsapp','twitter','telegram','google','email','linkedin','copy']" [url]="postURL"></share-buttons>
                </div>
              </div>
            </div>
      </div>

    </div>

  </div>
  <div class="comment-wrap">
    <div class="commented-list" [ngClass]="{'hide': post.comment_count == 0,'open-list': openCommentList}">
      <div class="more-comments" *ngIf="post.comment_count >= 3" [ngClass]="{'hide': isCommentLoad}" (click)="openCommentList = !openCommentList">
        {{post.comment_count - 2}} <span *ngIf="post.comment_count == 3"> more comment</span><span *ngIf="post.comment_count >= 4"> more comments</span>
      </div>
        <app-comment-item  *ngIf="global.profileName" (deleteCommentOutput) = "deleteCommentSuccess($event)"  (gotoProfileOutput)="goProfileFromComment($event)" (loading)="commentLoading()" #commentItem [postId]="post.id" [post]="post"></app-comment-item>
        <div class="comment-loader" *ngIf="isCommentLoad" [ngClass]="{'hide': post.comment_count == 0}">
          <app-loader></app-loader>
        </div>
        <!-- <app-comment-item></app-comment-item> -->
    </div>
    <div class="new-comment" [ngClass]="{'active': toggleCommented}">
      <div class="animation" [ngClass]="{'loading': isLoadingComment}"></div>
      <div class="pic" *ngIf="global.profilePic" [ngStyle]="{'background-image':'url(' + global.profilePic + ')'}"></div>
      <div class="pic" *ngIf="!global.profilePic"></div>
      <div class="mid" [ngClass]="{'has-content': isHasContent}">
        <textarea [attr.disabled]="isLoadingComment ? 'false' : null" rows="1" id="comment{{post.id}}" class="form-control mainComment" (keyup)="onChange($event)" placeholder="Write a comment.."></textarea>
        <label title="Upload file" for="cmment-file-{{post.id}}"><i class="fa fa-paperclip" aria-hidden="true"></i></label>
        <input hidden type="file" id="cmment-file-{{post.id}}" [name]="post.id" (change)="uploadFileShowing($event)" name="">
      </div>
      <div class="last" [ngClass]="{'loading': isLoadingComment}">
        <button  class="btn btn-primary btn-sm" (click)="postComments(post.id, index, post.comment_count)">Post</button>
      </div>
    </div>
    <div class="upload-file" *ngIf="uploadFilename">
      <i class="fa fa-paperclip" aria-hidden="true"></i> {{uploadFilename}}
      <span class="remove" (click)="removeFile()">
        <i class="fa fa-close" aria-hidden="true"></i>
      </span>
    </div>
  </div>
</div>
<!-- modal for like -->
<ng-template #like let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Post Likes</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-liked-list  (likeClsModal)="likeModalClose($event)"></app-liked-list>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-sm" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<!-- modal post details -->
<ng-template #detailed let-c="close" let-d="dismiss">
    <button type="button" class="close modal-detailed-close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  <app-detailed-post (unLikeOutput)="detailedUnlike($event)" (likeOutput)="detailedLike($event)" (clsModal)="modalClose($event)"  (followFnOutput)="followFnDetailed($event)" (unFollowFnOutput)="unfollowFnDetailed($event)" (commentFnOutput)="detailedComment($event)"></app-detailed-post>
</ng-template>
