<div class="main-search">
	<form id="searchForm" (ngSubmit)="searchWithStr(userdata)" [formGroup]="searchForm">
	  <input type="text"[(ngModel)]="userdata.searchStr" formControlName="searchStr" placeholder="Search Post and Profile" class="form-control">
	  <button><i class="fa fa-search" aria-hidden="true"></i></button>
	</form>
</div>