/* You can add global styles to this file, and also import other style files */
@import '~sass/variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
// @import '~@ngx-share/button/styles/share-buttons';
// @import '~@ngx-share/button/styles/themes/default/default-theme';
/** Import core style */
@import "~ngx-sharebuttons/styles/share-buttons";
@import "~ngx-sharebuttons/styles/themes/material/material-dark-theme";
body.body{
    font-family: $font-default;
    font-size: $font-size-default;
    color: $color-black;
    background: $color-bg;
    a{
        color: $color-1;
    }
    .dropdown-menu{
        font-size: $font-size-small;
    }
    .row {
    margin-right: -$padding;
    margin-left: -$padding;
    
    & > [class^="col-"],
    & > [class*=" col-"] {
        padding-right: $padding*2/3;
        padding-left:$padding*2/3;
    }
    }
    .heading{
        color: $color-2;
        font-size: $font-size-default;
        font-weight: bold;
        & + hr{
            margin-top: 0;
            margin-bottom: $padding;
        }
    }
    .btn-primary{
        background: $color-1;
        &:hover{
            background: darken($color-1, 3);
        }
    }
    .modal-header{
        padding: $padding;
        .modal-title{
            font-size: $font-size-default;
            color: $color-2;
            font-weight: bold;
        }
    }
    .modal-body{
        padding: 0;
    }
    .modal-footer{
        padding: $padding;
    }
    .dropdown-menu{
        padding: $padding/2 0;
    }
    .dropdown-item{
        padding: $padding/3 $padding;
        cursor: pointer;
    }
    .pic{
        background-image: url(assets/images/user-placeholder.png);
        background-color: $color-white;        
    }
    .error-msg{
        display: none;
    }
    .error{
        .error-msg{
            color: $color-red;
            font-size: 80%;
            display: block;
        }
        .form-control{
            border-color: $color-red;
        }
    }
    .link{
        color: $color-1;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}
.app-container{
    width: 1020px;
    max-width: 100%;
    margin: auto;
    padding-left: $padding;
    padding-right: $padding;
}
// loader start
.component-loader{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-white;
    border-radius: $border-radius;
    z-index: 1000;
    display: none;
    &.active{
        display: block;
    }
}
// loader end
@media (min-width: 576px){
    .modal-sm {
        max-width: 350px;
    }
}
@media only screen and (min-width : $media-sm + 1) {
    .mob-only{
        display: none !important;
    }
}
@media only screen and (max-width : $media-sm) {
    .mob-hide{
        display: none !important;
    }
}
