
<div class="login-page">
		<div class="main-wrap">
		  <div class="animation loading" *ngIf="loader"></div>
		  <div class="logo">
			<a routerLink="/"><img src="assets/images/happy-equities-logo.png" alt="logo"></a>
		  </div>    
		  <div class="form">
				<p class="hearing" *ngIf="activationMessage">{{activationMessage}}</p>
				<form id="loginForm" (ngSubmit)="activateProfile(userdata)" [formGroup]="activateForm">
					<h1>Activate your profile</h1>
					<p>Activation tocken has been sent to your registered email id: <span class="color-1">{{global.activatingEmail}}</span></p>
					<div class="form-group">
						<input type="text" class="form-control" [(ngModel)]="userdata.token" formControlName="token" placeholder="Please enter your token">
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-block btn-primary">
					</div>
				</form>
		  </div>
		</div>
	  </div>
	  