@import '~sass/variables';
@import '~sass/mixins';
.login-page{
    min-height: 100vh;
    @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:center,$align-items:center);
    @include gradient();
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: $padding*2;
    .main-wrap{
        width: 350px;
        max-width: 100%;
        padding: $padding*2;
        background: $color-white;
        border-radius: $border-radius;
        border: 1px solid $color-border;
        overflow: hidden;
        position: relative;
        @include box-shadow();
        .animation{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 4px;
            background: lighten($color-2, 40);
            &.loading{
                display: block;
                &:before{
                    content: '';
                    display: block;
                    height: 4px;
                    width: 100px;
                    background: lighten($color-1, 5);
                    @extend .loaging-animation;
                }
            }
        }
        h1{
            font-size: $font-size-large;
            color: $color-1;
            font-weight: bold;
        }
        .logo{
            padding-bottom: $padding*2;
        }
        .create-account{
            padding-top: $padding;
            display: inline-block;
        }
    }
    .color-1{
        color: $color-1;
    }
}